@theme inline {
  --theme-border-color: --alpha(var(--color-black) / 0.1);
  --color-body: oklch(var(--body, 0.96 0 0));

  --color-primary: oklch(var(--primary, 0.627 0.265 303.9));
  --color-primary-text: oklch(var(--primary-text, 1 0 0));
  --color-secondary: oklch(var(--secondary, 0.746 0.16 232.661));
  --color-secondary-text: oklch(var(--secondary-text, 1 0 0));

  --color-theme: oklch(var(--theme-default, 1 0 0));
  --color-theme-50: oklch(var(--theme-50, 0.98 0 0));
  --color-theme-100: oklch(var(--theme-100, 0.96 0 0));
  --color-theme-200: oklch(var(--theme-200, 0.92 0 0));
  --color-theme-300: oklch(var(--theme-300, 0.87 0 0));
  --color-theme-400: oklch(var(--theme-400, 0.81 0 0));
  --color-theme-500: oklch(var(--theme-500, 0.74 0 0));
  --color-theme-600: oklch(var(--theme-600, 0.67 0 0));
  --color-theme-700: oklch(var(--theme-700, 0.6 0 0));
  --color-theme-800: oklch(var(--theme-800, 0.53 0 0));
  --color-theme-900: oklch(var(--theme-900, 0.46 0 0));

  --color-success: oklch(var(--success-bg, 0.639 0.218 142.495));
  --color-success-text: oklch(var(--success-text, 0.4676 0.1549 142.495));
  --color-warning: oklch(var(--warning-bg, 0.8088 0.170358 75.3501));
  --color-warning-text: oklch(var(--warning-text, 0.5 0.1031 76.1));
  --color-error: oklch(var(--error-bg, 0.589 0.214 26.855));
  --color-error-text: oklch(var(--error-text, 0.3706 0.145 26.855));
  --color-info: oklch(var(--info-bg, 0.601 0.219 257.63));
  --color-info-text: oklch(var(--info-text, 0.3471 0.1204 257.63));

  --gradient-start: var(--color-primary);
  --gradient-end: var(--color-primary);

  --track-size: 1.25rem;
  --track-from-color: var(--color-primary);
  --track-to-color: var(--color-primary);
}

@variant dark {
  --theme-border-color: --alpha(var(--color-white) / 0.1);
  --color-body: oklch(var(--body, 0.2 0.0168 274.32));

  --color-primary: oklch(var(--primary, 0.606 0.25 292.717));
  --color-primary-text: oklch(var(--primary-text, 1 0 0));
  --color-secondary: oklch(var(--secondary, 0.746 0.16 232.661));
  --color-secondary-text: oklch(var(--secondary-text, 1 0 0));

  --color-theme: oklch(var(--theme-default, 0.2463 0.0168 274.32));
  --color-theme-50: oklch(var(--theme-50, 0.26 0.017 274.32));
  --color-theme-100: oklch(var(--theme-100, 0.28 0.017 274.32));
  --color-theme-200: oklch(var(--theme-200, 0.32 0.018 274.32));
  --color-theme-300: oklch(var(--theme-300, 0.37 0.019 274.32));
  --color-theme-400: oklch(var(--theme-400, 0.43 0.02 274.32));
  --color-theme-500: oklch(var(--theme-500, 0.5 0.021 274.32));
  --color-theme-600: oklch(var(--theme-600, 0.57 0.022 274.32));
  --color-theme-700: oklch(var(--theme-700, 0.64 0.023 274.32));
  --color-theme-800: oklch(var(--theme-800, 0.71 0.024 274.32));
  --color-theme-900: oklch(var(--theme-900, 0.78 0.025 274.32));

  --color-success: oklch(var(--success-bg, 0.639 0.218 142.495));
  --color-success-text: oklch(var(--success-text, 0.9308 0.1279 144.46));
  --color-warning: oklch(var(--warning-bg, 0.898 0.177 96.726));
  --color-warning-text: oklch(var(--warning-text, 0.9865 0.0716 107.64));
  --color-error: oklch(var(--error-bg, 0.589 0.214 26.855));
  --color-error-text: oklch(var(--error-text, 0.8751 0.0665 18.51));
  --color-info: oklch(var(--info-bg, 0.601 0.219 257.63));
  --color-info-text: oklch(var(--info-text, 0.877 0.065 244.38));
}

.text-purple {
  color: var(--color-purple-500);
}

.text-pink {
  color: var(--color-pink-500);
}

.text-blue {
  color: var(--color-blue-500);
}

.text-green {
  color: var(--color-green-500);
}

.text-yellow {
  color: var(--color-yellow-500);
}

.text-red {
  color: var(--color-red-500);
}

.text-gray {
  color: var(--color-gray-500);
}

/* Background colors */
.bgc-primary {
  background-color: --alpha(var(--color-primary) / 0.2);
  color: var(--color-black);

  @variant dark {
    color: var(--color-white);
  }
}

.bgc-secondary {
  background-color: --alpha(var(--color-secondary) / 0.2);
  color: var(--color-black);

  @variant dark {
    color: var(--color-white);
  }
}

.bgc-success {
  background-color: --alpha(var(--color-success) / 0.2);
  color: var(--color-success-text);
}

.bgc-warning {
  background-color: --alpha(var(--color-warning) / 0.2);
  color: var(--color-warning-text);
}

.bgc-error {
  background-color: --alpha(var(--color-error) / 0.2);
  color: var(--color-error-text);
}

.bgc-info {
  background-color: --alpha(var(--color-info) / 0.2);
  color: var(--color-info-text);
}

.bgc-purple {
  background-color: var(--color-purple-100);
  color: var(--color-purple-800);

  @variant dark {
    background-color: --alpha(var(--color-purple-900) / 0.3);
    color: var(--color-purple-300);
  }
}

.bgc-pink {
  background-color: var(--color-pink-100);
  color: var(--color-pink-800);

  @variant dark {
    background-color: --alpha(var(--color-pink-900) / 0.3);
    color: var(--color-pink-300);
  }
}

.bgc-blue {
  background-color: var(--color-blue-100);
  color: var(--color-blue-800);

  @variant dark {
    background-color: --alpha(var(--color-blue-900) / 0.3);
    color: var(--color-blue-300);
  }
}

.bgc-green {
  background-color: var(--color-green-100);
  color: var(--color-green-800);

  @variant dark {
    background-color: --alpha(var(--color-green-900) / 0.3);
    color: var(--color-green-300);
  }
}

.bgc-yellow {
  background-color: var(--color-yellow-100);
  color: var(--color-yellow-800);

  @variant dark {
    background-color: --alpha(var(--color-yellow-900) / 0.3);
    color: var(--color-yellow-300);
  }
}

.bgc-red {
  background-color: var(--color-red-100);
  color: var(--color-red-800);

  @variant dark {
    background-color: --alpha(var(--color-red-900) / 0.3);
    color: var(--color-red-300);
  }
}

.bgc-gray {
  background-color: var(--color-gray-100);
  color: var(--color-gray-800);

  @variant dark {
    background-color: --alpha(var(--color-gray-900) / 0.3);
    color: var(--color-gray-300);
  }
}
