@theme {
  --theme-border-color: --alpha(var(--color-black) / 0.1);
  --theme-bg-color: oklch(var(--theme-bg, 1 0 0));

  --color-body: oklch(var(--body, 0.999 0.044 264.943));
  --color-primary: oklch(var(--primary, 0.544 0.233 291.241));
  --color-secondary: oklch(var(--secondary, 0.639 0.209 6.961));

  --color-dark: oklch(var(--dark-DEFAULT, 0.26 0.066 279.517));
  --color-dark-50: oklch(var(--dark-50, 0.509 0.052 257.609));
  --color-dark-100: oklch(var(--dark-100, 0.467 0.054 263.268));
  --color-dark-200: oklch(var(--dark-200, 0.436 0.059 264.202));
  --color-dark-300: oklch(var(--dark-300, 0.393 0.062 264.473));
  --color-dark-400: oklch(var(--dark-400, 0.364 0.058 266.668));
  --color-dark-500: oklch(var(--dark-500, 0.332 0.054 266.369));
  --color-dark-600: oklch(var(--dark-600, 0.324 0.051 266.679));
  --color-dark-700: oklch(var(--dark-700, 0.303 0.044 272.77));
  --color-dark-800: oklch(var(--dark-800, 0.266 0.044 264.943));
  --color-dark-900: oklch(var(--dark-900, 0.208 0.04 265.755));

  --color-success: oklch(var(--success-bg, 0.639 0.218 142.495));
  --color-success-text: oklch(var(--success-text, 1 0 0));
  --color-warning: oklch(var(--warning-bg, 0.898 0.177 96.726));
  --color-warning-text: oklch(var(--warning-text, 0.5641 0.115857 95.1424));
  --color-error: oklch(var(--error-bg, 0.589 0.214 26.855));
  --color-error-text: oklch(var(--error-text, 1 0 0));
  --color-info: oklch(var(--info-bg, 0.601 0.219 257.63));
  --color-info-text: oklch(var(--info-text, 1 0 0));

  --gradient-start: var(--color-primary);
  --gradient-end: var(--color-primary);

  --track-size: 1.25rem;
  --track-from-color: var(--color-primary);
  --track-to-color: var(--color-primary);
}

@variant dark {
  --theme-border-color: --alpha(var(--color-white) / 0.1);
}

.text-purple {
  @apply text-purple-500;
}

.text-pink {
  @apply text-pink-500;
}

.text-blue {
  @apply text-blue-500;
}

.text-green {
  @apply text-green-500;
}

.text-yellow {
  @apply text-yellow-500;
}

.text-red {
  @apply text-red-500;
}

.text-gray {
  @apply text-gray-500;
}

/* Background colors */
.bgc-primary {
  @apply bg-primary theme__text_color;
}

.bgc-secondary {
  @apply bg-secondary theme__text_color;
}

.bgc-success {
  @apply bg-success theme__text_color;
}

.bgc-warning {
  @apply bg-warning theme__text_color;
}

.bgc-error {
  @apply bg-error theme__text_color;
}

.bgc-info {
  @apply bg-info theme__text_color;
}

.bgc-purple {
  @apply bg-purple-100/50 text-purple-800
  dark:bg-purple-900/50 dark:text-purple-300;
}

.bgc-pink {
  @apply bg-pink-100/50 text-pink-800
  dark:bg-pink-900/50 dark:text-pink-300;
}

.bgc-blue {
  @apply bg-blue-100/50 text-blue-800
  dark:bg-blue-900/50 dark:text-blue-300;
}

.bgc-green {
  @apply bg-green-100/50 text-green-800
  dark:bg-green-900/50 dark:text-green-300;
}

.bgc-yellow {
  @apply bg-yellow-100/50 text-yellow-800
  dark:bg-yellow-900/50 dark:text-yellow-300;
}

.bgc-red {
  @apply bg-red-100/50 text-red-800
  dark:bg-red-800/50 dark:text-red-300;
}

.bgc-gray {
  @apply bg-gray-100 text-gray-800
  dark:bg-gray-700/50 dark:text-gray-300;
}
