@layer base {
  /* Custom Scrollbar */
  :root {
    --ms-scrollbar-color: var(--color-gray-300);
    --ms-scrollbar-hover-color: var(--color-gray-200);

    @variant dark {
      --ms-scrollbar-color: var(--color-theme-300);
      --ms-scrollbar-hover-color: var(--color-theme-200);
    }
  }

  * {
    @-moz-document url-prefix() {
      scrollbar-width: thin;
      scrollbar-color: var(--ms-scrollbar-color) transparent;
    }
  }

  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  ::-webkit-scrollbar-track {
    background-color: transparent;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 20px;
    border: 3px solid transparent;
    background-clip: padding-box;
    background-color: var(--ms-scrollbar-color);
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: var(--ms-scrollbar-hover-color);
  }

  /* General CSS */
  *:focus-visible {
    outline: 2px dashed var(--color-primary);
  }

  ::selection {
    background-color: var(--color-primary);
    color: var(--color-primary-text, var(--color-white));
  }

  html {
    font-size: var(--ms-html-font-size, 16px);
  }

  body {
    overflow-x: hidden;
    position: relative;
    min-width: 320px;
    background-color: var(--ms-layout-body-bg-color, var(--color-body));
    font-size: var(--text-base);
    color: var(--color-theme-body);
  }

  h1,
  .h1 {
    font-size: var(--text-2xl);
    font-weight: var(--font-weight-semibold);
  }

  h2,
  .h2 {
    font-size: var(--text-xl);
    font-weight: var(--font-weight-semibold);
  }

  h3,
  .h3 {
    font-size: var(--text-lg);
    font-weight: var(--font-weight-semibold);
  }

  h4,
  .h4 {
    font-size: var(--text-md);
    font-weight: var(--font-weight-medium);
  }

  h5,
  h6,
  .h5,
  .h6 {
    font-size: var(--text-base);
    font-weight: var(--font-weight-medium);
  }

  .heading {
    margin-bottom: --spacing(4);

    h1,
    h2,
    h3,
    h4,
    .h1,
    .h2,
    .h3,
    .h4,
    div {
      @apply truncate;
    }
  }

  a {
    @apply hover:text-primary dark:hover:text-white;
  }

  .link {
    @apply font-medium text-primary hover:text-secondary dark:text-secondary dark:hover:text-slate-200;
  }

  button {
    cursor: pointer;

    @variant disabled {
      cursor: default;
    }
  }

  p + p {
    margin-top: --spacing(2);
  }

  b,
  strong {
    font-weight: var(--font-weight-semibold);
  }

  svg {
    flex-shrink: 0;
    display: inline-block;
  }

  pre {
    overflow: auto;
    max-width: 100%;
  }

  .chart {
    @apply w-full;

    > * {
      @apply mx-auto;
    }
  }

  ul {
    /* List marker */

    &.list-marker {
      @apply list-[square] space-y-2 pl-6 marker:text-primary;
    }

    /* Checkboxes tree */

    &.tree-list {
      @apply -m-1 space-y-1.5 overflow-x-auto p-1;

      li {
        @apply space-y-1.5;

        ul {
          @apply ml-6 space-y-1.5;
        }
      }
    }

    /* Checkboxes horizontal */

    &.horizontal-list {
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      @apply grid items-center;

      li {
        @apply pe-2 pb-2;

        .form-group {
          @apply flex-nowrap;
        }
      }
    }
  }

  /* Images in a row */
  .images-row {
    @apply flex;

    & > * {
      @apply h-10 w-10 overflow-hidden rounded-full border-3 border-primary/10 dark:border-theme-200;

      &:not(:first-child) {
        @apply -ml-5;
      }
    }
  }

  /* Divider */
  hr,
  hr.divider {
    @apply my-4 block h-[1px] w-full border-0 bg-slate-200 dark:bg-theme-100;
  }

  div {
    &.divider {
      @apply my-4 flex items-center gap-x-2.5 text-slate-400 before:h-[1px] before:min-w-[16px] before:shrink-0 before:bg-slate-300 dark:before:bg-theme-100;
    }

    &.divider-centered {
      @apply justify-center text-center before:grow after:h-[1px] after:min-w-[16px] after:shrink-0 after:grow after:bg-slate-300 dark:after:bg-theme-100;
    }
  }

  .space-elements > :not([hidden], [type='hidden']) ~ :not([hidden], [type='hidden']) {
    --tw-space-y-reverse: 0;
    --tw-value: 1.25rem;

    @apply mt-[calc(var(--tw-value)_*_(1_-_var(--tw-space-y-reverse)))]
    mb-[calc(var(--tw-value)_*_var(--tw-space-y-reverse))];
  }
}
