@utility scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

/* z-index */
@utility z-aside {
  z-index: var(--z-aside);
}

@utility z-dropdown {
  z-index: var(--z-dropdown);
}

@utility z-notifications {
  z-index: var(--z-notifications);
}

@utility z-overlay {
  z-index: var(--z-overlay);
}

@utility z-offcanvas {
  z-index: var(--z-offcanvas);
}

@utility z-modal {
  z-index: var(--z-modal);
}

@utility z-menu {
  z-index: var(--z-menu);
}

@utility z-toast {
  z-index: var(--z-toast);
}
