/* Authentication */
.authentication {
  @apply flex min-h-screen flex-col items-center justify-center gap-y-6 px-4 py-8;

  .authentication-content {
    width: 100%;
    max-width: 420px;
    background-color: var(--color-theme);
    border: 1px solid var(--color-theme-stroke);
    border-radius: var(--radius-xl);
    padding: --spacing(6) --spacing(4);

    @variant lg {
      padding: --spacing(8);
    }
  }

  .authentication-header {
    @apply mb-6 space-y-2 text-center;

    .title {
      @apply text-md font-semibold;
    }

    .description {
      @apply text-sm text-slate-500 dark:text-slate-400;
    }
  }

  .authentication-footer {
    @apply mt-6 space-y-4;

    > p {
      @apply dark:text-slate-400;
    }
  }
}
