/* Alert basic */

.alert {
  display: flex;
  align-items: center;
  column-gap: var(--ms-alert-gap, --spacing(3));
  width: 100%;
  padding-block: var(--ms-alert-padding-y, --spacing(2.5));
  padding-inline: var(--ms-alert-padding-x, --spacing(3));
  border-radius: var(--ms-alert-radius, var(--radius-lg));
  border: var(--ms-alert-border-width, 1px) solid
    var(--ms-alert-border-color, var(--color-base-200));
  background-color: var(--ms-alert-bg-color, var(--color-base-200));
  color: var(--ms-alert-color, var(--color-base-text));

  & + .alert {
    margin-top: var(--ms-alert-spacing-y, --spacing(2));
  }
}

/* Alert elements */

.alert-icon {
  --ms-icon-size: var(--ms-alert-icon-size, --spacing(5));
}

.alert-content {
  flex-grow: 1;
  font-size: var(--ms-alert-content-font-size, var(--text-sm));
  word-break: break-word;

  & > a {
    color: inherit;
    font-weight: var(--font-weight-medium);
    text-decoration: underline;
    text-underline-offset: 2px;
    opacity: 1;

    @variant hover {
      text-decoration-color: transparent;
    }
  }
}

.alert-remove {
  --ms-icon-size: var(--ms-alert-remove-icon-size, --spacing(4));

  cursor: pointer;
  color: inherit;
  opacity: 0.5;

  @variant hover {
    opacity: 1;
  }
}

/* Alert themes */

.alert-primary {
  --ms-alert-border-color: var(--color-primary);
  --ms-alert-bg-color: var(--color-primary);
  --ms-alert-color: var(--color-primary-text);
}

.alert-secondary {
  --ms-alert-border-color: var(--color-secondary);
  --ms-alert-bg-color: var(--color-secondary);
  --ms-alert-color: var(--color-secondary-text);
}

.alert-success {
  --ms-alert-border-color: --alpha(var(--color-success) / 0.3);
  --ms-alert-bg-color: --alpha(var(--color-success) / 0.2);
  --ms-alert-color: var(--color-success-text);

  @variant dark {
    --ms-alert-border-color: --alpha(var(--color-success) / 0.6);
    --ms-alert-bg-color: --alpha(var(--color-success) / 0.3);
  }
}

.alert-warning {
  --ms-alert-border-color: --alpha(var(--color-warning) / 0.3);
  --ms-alert-bg-color: --alpha(var(--color-warning) / 0.2);
  --ms-alert-color: var(--color-warning-text);

  @variant dark {
    --ms-alert-border-color: --alpha(var(--color-warning) / 0.6);
    --ms-alert-bg-color: --alpha(var(--color-warning) / 0.3);
  }
}

.alert-error {
  --ms-alert-border-color: --alpha(var(--color-error) / 0.3);
  --ms-alert-bg-color: --alpha(var(--color-error) / 0.2);
  --ms-alert-color: var(--color-error-text);

  @variant dark {
    --ms-alert-border-color: --alpha(var(--color-error) / 0.6);
    --ms-alert-bg-color: --alpha(var(--color-error) / 0.3);
  }
}

.alert-info {
  --ms-alert-border-color: --alpha(var(--color-info) / 0.3);
  --ms-alert-bg-color: --alpha(var(--color-info) / 0.2);
  --ms-alert-color: var(--color-info-text);

  @variant dark {
    --ms-alert-border-color: --alpha(var(--color-info) / 0.6);
    --ms-alert-bg-color: --alpha(var(--color-info) / 0.3);
  }
}

.alert-purple {
  --ms-alert-border-color: var(--color-purple-300);
  --ms-alert-bg-color: var(--color-purple-100);
  --ms-alert-color: var(--color-purple-800);

  @variant dark {
    --ms-alert-border-color: var(--color-purple-900);
    --ms-alert-bg-color: --alpha(var(--color-purple-900) / 0.3);
    --ms-alert-color: var(--color-purple-300);
  }
}

.alert-green {
  --ms-alert-border-color: var(--color-green-300);
  --ms-alert-bg-color: var(--color-green-100);
  --ms-alert-color: var(--color-green-800);

  @variant dark {
    --ms-alert-border-color: var(--color-green-900);
    --ms-alert-bg-color: --alpha(var(--color-green-900) / 0.3);
    --ms-alert-color: var(--color-green-300);
  }
}

.alert-yellow {
  --ms-alert-border-color: var(--color-yellow-300);
  --ms-alert-bg-color: var(--color-yellow-100);
  --ms-alert-color: var(--color-yellow-800);

  @variant dark {
    --ms-alert-border-color: var(--color-yellow-900);
    --ms-alert-bg-color: --alpha(var(--color-yellow-900) / 0.3);
    --ms-alert-color: var(--color-yellow-300);
  }
}

.alert-pink {
  --ms-alert-border-color: var(--color-pink-300);
  --ms-alert-bg-color: var(--color-pink-100);
  --ms-alert-color: var(--color-pink-800);

  @variant dark {
    --ms-alert-border-color: var(--color-pink-900);
    --ms-alert-bg-color: --alpha(var(--color-pink-900) / 0.3);
    --ms-alert-color: var(--color-pink-300);
  }
}

.alert-blue {
  --ms-alert-border-color: var(--color-blue-300);
  --ms-alert-bg-color: var(--color-blue-100);
  --ms-alert-color: var(--color-blue-800);

  @variant dark {
    --ms-alert-border-color: var(--color-blue-900);
    --ms-alert-bg-color: --alpha(var(--color-blue-900) / 0.3);
    --ms-alert-color: var(--color-blue-300);
  }
}

.alert-red {
  --ms-alert-border-color: var(--color-red-300);
  --ms-alert-bg-color: var(--color-red-100);
  --ms-alert-color: var(--color-red-800);

  @variant dark {
    --ms-alert-border-color: var(--color-red-900);
    --ms-alert-bg-color: --alpha(var(--color-red-900) / 0.3);
    --ms-alert-color: var(--color-red-300);
  }
}

.alert-gray {
  --ms-alert-border-color: var(--color-gray-300);
  --ms-alert-bg-color: var(--color-gray-100);
  --ms-alert-color: var(--color-gray-800);

  @variant dark {
    --ms-alert-border-color: var(--color-gray-900);
    --ms-alert-bg-color: --alpha(var(--color-gray-900) / 0.3);
    --ms-alert-color: var(--color-gray-300);
  }
}
