.box {
  position: relative;
  margin-bottom: --spacing(6);
  padding: --spacing(3);
  border-radius: --spacing(3);
  border: 1px solid var(--color-theme-stroke);
  background-color: var(--ms-box-bg-color, var(--color-theme));

  &.box-dark,
  &.dark {
    @apply bg-zinc-700 text-white;
  }

  &.box-shadow {
    @apply before:absolute
    before:inset-x-0
    before:top-3
    before:-z-1
    before:mx-auto
    before:h-full
    before:w-[85%]
    before:rounded-[inherit]
    before:opacity-0
    hover:before:bg-white hover:before:opacity-100
    hover:before:shadow-lg hover:before:shadow-gray-200
    dark:hover:before:bg-theme-500
    dark:hover:before:shadow-black/5;
  }
}

.box-title {
  @apply flex
  gap-2
  border-b theme__border
  pb-3 text-xs font-semibold;
}
