.breadcrumbs {
  @apply w-full flex-grow overflow-hidden md:w-auto;

  &-list {
    @apply
    flex flex-wrap lg:flex-nowrap
    gap-1.5
  }

  &-item {
    @apply
    min-w-5
    overflow-hidden
    flex items-center
    gap-x-1.5
    text-3xs md:text-2xs
    ;

    &:not(:first-child) {
      @apply
      before:content-['']
      before:min-w-3.5
      before:w-3.5
      before:h-3.5
      before:mask-[url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20stroke%3D%22%232e2e2e%22%20stroke-width%3D%221%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%3E%3Cpolyline%20points%3D%229%2018%2015%2012%209%206%22%3E%3C%2Fpolyline%3E%3C%2Fsvg%3E')]
      before:mask-cover
      before:bg-dark-500
      dark:before:bg-secondary
    }

    &:first-child > a {
      @apply
      text-secondary hover:text-primary dark:text-secondary dark:hover:text-white
    }

    & > a {
      @apply truncate dark:text-slate-500 dark:hover:text-secondary;

      & > svg {
        @apply w-5 h-5
      }
    }

    & > span {
      @apply truncate dark:text-slate-500
    }
  }
}
