@theme {
  --ms-btn-padding-x: --spacing(3);
  --ms-btn-padding-y: --spacing(2);
  --ms-btn-gap-x: --spacing(2);
  --ms-btn-border-radius: --spacing(2);
  --ms-btn-border-color: var(--theme-border-color);
  --ms-btn-bg-color: var(--color-gray-50);
  --ms-btn-color: var(--color-black);
  --ms-btn-font-size: var(--font-3xs);
  --ms-btn-font-weight: var(--font-weight-medium);

  --ms-btn-hover-border-color: var(--color-gray-300);
  --ms-btn-hover-bg-color: var(--color-white);
  --ms-btn-hover-color: var(--color-black);

  --ms-btn-disabled-opacity: 0.6;

  --ms-btn-badge-padding-x: --spacing(1.5);
  --ms-btn-badge-padding-y: 0;
  --ms-btn-badge-font-size: 0.925em;
}

@variant dark {
  --ms-btn-border-color: theme('colors.white/0.2');
  --ms-btn-bg-color: theme('colors.white/0.1');
  --ms-btn-color: theme('colors.white');

  --ms-btn-hover-border-color: theme('colors.white/0.3');
  --ms-btn-hover-bg-color: theme('colors.white/0.2');
  --ms-btn-hover-color: theme('colors.white');
}

/* Buttons */

.btn {
  vertical-align: top;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  column-gap: var(--ms-btn-gap-x);
  min-height: var(--ms-btn-min-height, auto);
  padding: var(--ms-btn-padding-y) var(--ms-btn-padding-x);
  border-radius: var(--ms-btn-border-radius);
  border: var(--ms-btn-border-width, 1px) solid var(--ms-btn-border-color);
  background-color: var(--ms-btn-bg-color);
  color: var(--ms-btn-color);
  font-size: var(--ms-btn-font-size);
  font-weight: var(--ms-btn-font-weight);
  white-space: nowrap;
  cursor: pointer;
  transition-property:
    color, background-color, border-color, text-decoration-color, box-shadow, opacity, fill, stroke;
  transition-duration: var(--default-transition-duration);
  transition-timing-function: var(--default-transition-timing-function);

  @media (hover: hover) {
    &:hover {
      border-color: var(--ms-btn-hover-border-color);
      background-color: var(--ms-btn-hover-bg-color);
      color: var(--ms-btn-hover-color);
    }
  }

  &:focus {
    box-shadow: 0 0 0 var(--ms-btn-focus-ring-size, 1.5px) var(--ms-btn-hover-bg-color);
  }

  &:disabled {
    border-color: var(--ms-btn-border-color);
    background-color: var(--ms-btn-bg-color);
    color: var(--ms-btn-color);
    opacity: var(--ms-btn-disabled-opacity);
    cursor: not-allowed;
  }

  .icon-wrapper {
    @apply size-(--ms-btn-icon-size);
  }

  .badge {
    margin-left: auto;
    padding-block: var(--ms-btn-badge-padding-y);
    padding-inline: var(--ms-btn-badge-padding-x);
    border-width: 1px;
    border-style: solid;
    border-color: inherit;
    background-color: inherit;
    text-align: center;
    font-size: 1em;

    &:empty {
      display: none;
    }
  }

  &.btn-lg {
    --ms-btn-padding-x: --spacing(6);
    --ms-btn-padding-y: --spacing(3);
  }
}

/* Button themes */

.btn-primary {
  --ms-btn-border-color: theme('colors.primary/0.4');
  --ms-btn-bg-color: theme('colors.primary/0.3');
  --ms-btn-color: theme('colors.black');

  --ms-btn-hover-border-color: theme('colors.primary/0.3');
  --ms-btn-hover-bg-color: theme('colors.primary/0.2');

  @variant dark {
    --ms-btn-border-color: theme('colors.primary/0.8');
    --ms-btn-bg-color: theme('colors.primary/0.4');
    --ms-btn-color: theme('colors.white');

    --ms-btn-hover-border-color: theme('colors.primary');
    --ms-btn-hover-bg-color: theme('colors.primary/0.5');
    --ms-btn-hover-color: theme('colors.white');
  }
}

.btn-secondary {
  --ms-btn-border-color: theme('colors.secondary/0.4');
  --ms-btn-bg-color: theme('colors.secondary/0.3');
  --ms-btn-color: theme('colors.black');

  --ms-btn-hover-border-color: theme('colors.secondary/0.3');
  --ms-btn-hover-bg-color: theme('colors.secondary/0.2');

  @variant dark {
    --ms-btn-border-color: theme('colors.secondary/0.8');
    --ms-btn-bg-color: theme('colors.secondary/0.4');
    --ms-btn-color: theme('colors.white');

    --ms-btn-hover-border-color: theme('colors.secondary');
    --ms-btn-hover-bg-color: theme('colors.secondary/0.5');
    --ms-btn-hover-color: theme('colors.white');
  }
}

.btn-success {
  --ms-btn-border-color: theme('colors.success.DEFAULT/0.2');
  --ms-btn-bg-color: theme('colors.success.DEFAULT/0.15');
  --ms-btn-color: theme('colors.success.text');

  --ms-btn-hover-border-color: theme('colors.success.DEFAULT/0.3');
  --ms-btn-hover-bg-color: theme('colors.success.DEFAULT/0.2');
  --ms-btn-hover-color: theme('colors.success.text');

  @variant dark {
    --ms-btn-border-color: theme('colors.success.DEFAULT/0.4');
    --ms-btn-bg-color: theme('colors.success.DEFAULT/0.3');

    --ms-btn-hover-bg-color: theme('colors.success.DEFAULT/0.5');
    --ms-btn-hover-color: theme('colors.white');
  }
}

.btn-warning {
  --ms-btn-border-color: theme('colors.warning.DEFAULT/0.2');
  --ms-btn-bg-color: theme('colors.warning.DEFAULT/0.15');
  --ms-btn-color: theme('colors.warning.text');

  --ms-btn-hover-border-color: theme('colors.warning.DEFAULT/0.3');
  --ms-btn-hover-bg-color: theme('colors.warning.DEFAULT/0.2');
  --ms-btn-hover-color: theme('colors.warning.text');
  --ms-btn-hover-color: theme('colors.warning.text');

  @variant dark {
    --ms-btn-border-color: theme('colors.warning.DEFAULT/0.4');
    --ms-btn-bg-color: theme('colors.warning.DEFAULT/0.3');

    --ms-btn-hover-bg-color: theme('colors.warning.DEFAULT/0.5');
    --ms-btn-hover-color: theme('colors.white');
  }
}

.btn-error {
  --ms-btn-border-color: theme('colors.error.DEFAULT/0.2');
  --ms-btn-bg-color: theme('colors.error.DEFAULT/0.15');
  --ms-btn-color: theme('colors.error.text');

  --ms-btn-hover-border-color: theme('colors.error.DEFAULT/0.3');
  --ms-btn-hover-bg-color: theme('colors.error.DEFAULT/0.2');
  --ms-btn-hover-color: theme('colors.error.text');

  @variant dark {
    --ms-btn-border-color: theme('colors.error.DEFAULT/0.4');
    --ms-btn-bg-color: theme('colors.error.DEFAULT/0.3');

    --ms-btn-hover-bg-color: theme('colors.error.DEFAULT/0.5');
    --ms-btn-hover-color: theme('colors.white');
  }
}

.btn-info {
  --ms-btn-border-color: theme('colors.info.DEFAULT/0.2');
  --ms-btn-bg-color: theme('colors.info.DEFAULT/0.15');
  --ms-btn-color: theme('colors.info.text');

  --ms-btn-hover-border-color: theme('colors.info.DEFAULT/0.3');
  --ms-btn-hover-bg-color: theme('colors.info.DEFAULT/0.2');
  --ms-btn-hover-color: theme('colors.info.text');

  @variant dark {
    --ms-btn-border-color: theme('colors.info.DEFAULT/0.4');
    --ms-btn-bg-color: theme('colors.info.DEFAULT/0.3');

    --ms-btn-hover-bg-color: theme('colors.info.DEFAULT/0.5');
    --ms-btn-hover-color: theme('colors.white');
  }
}

/* Button variants */

.btn-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: var(--ms-btn-icon-size, --spacing(6));
  height: var(--ms-btn-icon-size, --spacing(6));
  padding: 0;
  font-size: var(--ms-btn-icon-font-size, --spacing(5));

  .icon-wrapper,
  svg {
    width: 1em;
    height: 1em;
  }

  @variant hover {
    color: var(--color-primary);
  }
}

.btn-burger {
  --ms-btn-icon-size: var(--ms-menu-burger-size, --spacing(6));
  --ms-btn-icon-font-size: var(--ms-menu-burger-icon-size, --spacing(6));
}
