@theme {
  --ms-btn-padding-x: --spacing(3.5);
  --ms-btn-padding-y: --spacing(2.5);
  --ms-btn-gap-x: --spacing(2);
  --ms-btn-radius: --spacing(2);
  --ms-btn-border-width: 0px;
  --ms-btn-border-color: var(--color-theme-stroke);
  --ms-btn-bg-color: var(--color-theme-300);
  --ms-btn-color: var(--color-theme-body);
  --ms-btn-font-size: var(--text-xs);
  --ms-btn-font-weight: var(--font-weight-medium);
  --ms-btn-icon-size: --spacing(5);

  --ms-btn-hover-border-color: var(--color-theme-stroke);
  --ms-btn-hover-bg-color: var(--color-theme-400);
  --ms-btn-hover-color: var(--color-theme-body);

  --ms-btn-disabled-opacity: 0.6;

  --ms-btn-badge-padding-x: --spacing(1.5);
  --ms-btn-badge-padding-y: 0px;
  --ms-btn-badge-font-size: 0.925em;
}

/* Buttons */

.btn {
  vertical-align: top;
  display: inline-flex;
  align-items: var(--ms-btn-align-items, center);
  justify-content: var(--ms-btn-justify-content, center);
  column-gap: var(--ms-btn-gap-x);
  min-height: var(--ms-btn-min-height, auto);
  padding: var(--ms-btn-padding-y) var(--ms-btn-padding-x);
  border-radius: var(--ms-btn-radius);
  border: var(--ms-btn-border-width) solid var(--ms-btn-border-color);
  background-color: var(--ms-btn-bg-color);
  color: var(--ms-btn-color);
  font-size: var(--ms-btn-font-size);
  font-weight: var(--ms-btn-font-weight);
  cursor: pointer;
  transition-property:
    color, background-color, border-color, text-decoration-color, box-shadow, opacity, fill, stroke,
    translate;
  transition-duration: var(--default-transition-duration);
  transition-timing-function: var(--default-transition-timing-function);

  @variant hover {
    &:not(:disabled) {
      border-color: var(--ms-btn-hover-border-color);
      background-color: var(--ms-btn-hover-bg-color);
      color: var(--ms-btn-hover-color);
    }
  }

  /* &:focus {
    box-shadow: 0 0 0 var(--ms-btn-focus-ring-size, 2px) --alpha(var(--ms-btn-hover-bg-color) / 0.5);
  } */

  &:active {
    translate: 0 var(--ms-btn-active-translateY, 1px);
  }

  &:disabled {
    border-color: var(--ms-btn-disabled-border-color, var(--color-theme-200));
    background-color: var(--ms-btn-disabled-bg-color, var(--color-theme-200));
    color: var(--ms-btn-disabled-color, var(--color-theme-body));
    cursor: not-allowed;
  }

  .icon-wrapper {
    width: var(--ms-btn-icon-size, --spacing(5));
    height: var(--ms-btn-icon-size, --spacing(5));
  }

  .badge {
    margin-left: auto;
    padding-block: var(--ms-btn-badge-padding-y);
    padding-inline: var(--ms-btn-badge-padding-x);
    background-color: var(--ms-btn-badge-bg-color, inherit);
    color: inherit;
    text-align: center;
    font-size: 1em;

    &:empty {
      display: none;
    }
  }

  .spinner {
    --ms-spinner-border-color: currentColor;
  }
}

/* Button sizes */

.btn-lg {
  --ms-btn-padding-x: --spacing(4);
  --ms-btn-padding-y: --spacing(3);
}

/* Button variants */

.btn-link {
  --ms-icon-size: var(--ms-btn-link-icon-size, --spacing(4));

  display: inline-flex;
  align-items: center;
  column-gap: var(--ms-btn-link-gap, --spacing(2));
  color: var(--ms-btn-link-color, var(--color-theme-body));
  font-size: var(--ms-btn-link-font-size, var(--text-xs));
  font-weight: var(--ms-btn-link-font-weight, var(--font-weight-medium));

  @variant hover {
    color: var(--ms-btn-link-hover-color, var(--color-primary));
  }
}

/* Button themes */

.btn-primary {
  --ms-btn-border-color: var(--color-primary);
  --ms-btn-bg-color: var(--color-primary);
  --ms-btn-color: var(--color-primary-text);
  --ms-btn-badge-bg-color: --alpha(var(--color-black) / 0.1);

  --ms-btn-hover-border-color: var(--color-primary);
  --ms-btn-hover-bg-color: --alpha(var(--color-primary) / 0.9);
  --ms-btn-hover-color: var(--color-primary-text);
}

.btn-secondary {
  --ms-btn-border-color: var(--color-secondary);
  --ms-btn-bg-color: var(--color-secondary);
  --ms-btn-color: var(--color-secondary-text);
  --ms-btn-badge-bg-color: --alpha(var(--color-black) / 0.1);

  --ms-btn-hover-border-color: var(--color-secondary);
  --ms-btn-hover-bg-color: --alpha(var(--color-secondary) / 0.9);
  --ms-btn-hover-color: var(--color-secondary-text);
}

.btn-success {
  --ms-btn-border-color: --alpha(var(--color-success) / 0.2);
  --ms-btn-bg-color: --alpha(var(--color-success) / 0.15);
  --ms-btn-color: var(--color-success-text);

  --ms-btn-hover-border-color: --alpha(var(--color-success) / 0.3);
  --ms-btn-hover-bg-color: --alpha(var(--color-success) / 0.2);
  --ms-btn-hover-color: var(--color-success-text);

  @variant dark {
    --ms-btn-border-color: --alpha(var(--color-success) / 0.6);
    --ms-btn-bg-color: --alpha(var(--color-success) / 0.3);

    --ms-btn-hover-bg-color: --alpha(var(--color-success) / 0.5);
    --ms-btn-hover-color: var(--color-white);
  }
}

.btn-warning {
  --ms-btn-border-color: --alpha(var(--color-warning) / 0.2);
  --ms-btn-bg-color: --alpha(var(--color-warning) / 0.15);
  --ms-btn-color: var(--color-warning-text);

  --ms-btn-hover-border-color: --alpha(var(--color-warning) / 0.3);
  --ms-btn-hover-bg-color: --alpha(var(--color-warning) / 0.2);
  --ms-btn-hover-color: var(--color-warning-text);

  @variant dark {
    --ms-btn-border-color: --alpha(var(--color-warning) / 0.6);
    --ms-btn-bg-color: --alpha(var(--color-warning) / 0.3);

    --ms-btn-hover-bg-color: --alpha(var(--color-warning) / 0.5);
    --ms-btn-hover-color: var(--color-white);
  }
}

.btn-error {
  --ms-btn-border-color: --alpha(var(--color-error) / 0.2);
  --ms-btn-bg-color: --alpha(var(--color-error) / 0.15);
  --ms-btn-color: var(--color-error-text);

  --ms-btn-hover-border-color: --alpha(var(--color-error) / 0.3);
  --ms-btn-hover-bg-color: --alpha(var(--color-error) / 0.2);
  --ms-btn-hover-color: var(--color-error-text);

  @variant dark {
    --ms-btn-border-color: --alpha(var(--color-error) / 0.6);
    --ms-btn-bg-color: --alpha(var(--color-error) / 0.3);

    --ms-btn-hover-bg-color: --alpha(var(--color-error) / 0.5);
    --ms-btn-hover-color: var(--color-white);
  }
}

.btn-info {
  --ms-btn-border-color: --alpha(var(--color-info) / 0.2);
  --ms-btn-bg-color: --alpha(var(--color-info) / 0.15);
  --ms-btn-color: var(--color-info-text);

  --ms-btn-hover-border-color: --alpha(var(--color-info) / 0.3);
  --ms-btn-hover-bg-color: --alpha(var(--color-info) / 0.2);
  --ms-btn-hover-color: var(--color-info-text);

  @variant dark {
    --ms-btn-border-color: --alpha(var(--color-info) / 0.6);
    --ms-btn-bg-color: --alpha(var(--color-info) / 0.3);

    --ms-btn-hover-bg-color: --alpha(var(--color-info) / 0.5);
    --ms-btn-hover-color: var(--color-white);
  }
}

/* Button variants */

.btn-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: var(--ms-btn-icon-size, --spacing(6));
  height: var(--ms-btn-icon-size, --spacing(6));
  padding: 0;
  font-size: var(--ms-btn-icon-font-size, --spacing(5));

  .icon-wrapper,
  svg {
    width: 1em;
    height: 1em;
  }

  @variant hover {
    color: var(--color-primary);
  }
}

.btn-burger {
  --ms-btn-icon-size: var(--ms-menu-burger-size, --spacing(6));
  --ms-btn-icon-font-size: var(--ms-menu-burger-icon-size, --spacing(6));
}
