/* Category card */

.card-category {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: var(--ms-card-gap, --spacing(6));
  padding-block: var(--ms-card-padding-y, --spacing(4));
  padding-inline: var(--ms-card-padding-x, --spacing(4));
  border-radius: var(--ms-card-radius, var(--radius-lg));
  border: var(--ms-card-border-width, 1px) solid
    var(--ms-card-border-color, var(--color-base-stroke));
  background-color: var(--ms-card-bg-color, var(--color-base));

  /* Card photo */

  .card-photo {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: var(--ms-card-photo-height, --spacing(52));
    border-radius: var(--ms-card-photo-radius, var(--radius-md));

    &:has(.carousel) {
      height: auto;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      user-select: none;
    }

    .badge {
      position: absolute;
      top: --spacing(4);
      left: --spacing(4);
      z-index: 2;
    }
  }

  .card-photo-content {
    position: absolute;
    inset: 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    row-gap: var(--ms-card-photo-content-gap, --spacing(1));
    padding-block: var(--ms-card-photo-content-padding-y, --spacing(4));
    padding-inline: var(--ms-card-photo-content-padding-x, --spacing(4));

    &::before {
      content: '';
      position: absolute;
      inset-inline: 0;
      bottom: 0;
      z-index: -1;
      height: var(--ms-card-photo-overlay-height, 50%);
      background: linear-gradient(
        to top,
        --alpha(var(--ms-card-photo-overlay-color, var(--color-black)) / 1),
        --alpha(var(--ms-card-photo-overlay-color, var(--color-black)) / 0)
      );
      opacity: var(--ms-card-photo-overlay-opacity, 0.9);
    }

    .title {
      color: var(--ms-card-photo-content-title-color, var(--color-white));
      font-size: var(--ms-card-photo-content-title-font-size, var(--text-base));
      font-weight: var(--ms-card-photo-content-title-font-weight, var(--font-weight-semibold));
    }

    .subcategory {
      color: var(--ms-card-photo-content-subcategory-color, var(--color-white));
      font-size: var(--ms-card-photo-content-subcategory-font-size, var(--text-xs));
      opacity: var(--ms-card-photo-content-subcategory-opacity, 0.75);
    }
  }

  /* Card body */

  .card-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    row-gap: var(--ms-card-body-gap-y, --spacing(2));

    .title {
      font-size: var(--text-md);
      font-weight: var(--font-weight-semibold);
    }

    table {
      color: var(--color-base-text);
      font-size: var(--text-sm);

      @variant dark {
        color: var(--color-base-text);
      }

      th {
        padding-right: --spacing(2);
        font-weight: var(--font-weight-medium);
      }
    }
  }

  /* Card actions */

  .card-actions {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: var(--ms-card-actions-gap, --spacing(2));
    padding-top: var(--ms-card-actions-padding-top, --spacing(5));
    border-top: var(--ms-card-actions-border-width, 1px) solid
      var(--ms-card-actions-border-color, var(--color-base-stroke));
  }
}

/* Report card */

.report-card {
  --_card-gap-y: var(--ms-report-card-gap-y, --spacing(4));

  display: flex;
  flex-direction: column;
  row-gap: var(--_card-gap-y);
  height: 100%;
  padding-block: var(--ms-report-card-padding-y, --spacing(3.5));
  padding-inline: var(--ms-report-card-padding-x, --spacing(3.5));
  color: inherit;

  /* Report card elements */

  .report-card-heading {
    --ms-icon-size: var(--ms-report-card-heading-icon-size, --spacing(6));

    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .report-card-indicator {
    --ms-icon-size: --ms-report-card-indicator-icon-size, --spacing(3.5);

    display: flex;
    align-items: center;
    column-gap: var(--ms-report-card-indicator-gap, --spacing(1));
    padding-block: var(--ms-report-card-indicator-padding-y, --spacing(1.5));
    padding-inline: var(--ms-report-card-indicator-padding-x, --spacing(2));
    border-radius: var(--ms-report-card-indicator-radius, 9999px);
    background-color: var(--ms-report-card-indicator-bg-color, transparent);
    color: var(--ms-report-card-indicator-color, var(--color-white));
    font-size: var(--ms-report-card-indicator-font-size, var(--text-xs));
    line-height: 1;
  }

  .report-card-body {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    row-gap: calc(var(--_card-gap-y) / 2);
  }

  .report-card-value {
    @apply truncate;

    font-size: var(--ms-report-card-value-font-size, var(--text-2xl));
    font-weight: var(--ms-report-card-value-font-weight, var(--font-weight-medium));
    line-height: 1;
  }

  .report-card-title {
    color: var(--ms-report-card-title-color, inherit);
    font-size: var(--ms-report-card-title-font-size, var(--text-xs));
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
