/* Carousel basic */

.carousel {
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-width: var(--ms-carousel-border-width, 1px);
  border-style: solid;
  border-color: var(--ms-carousel-border-color, var(--color-base-stroke));
  border-radius: var(--ms-carousel-radius, var(--radius-lg));
  aspect-ratio: var(--ms-carousel-aspect-ratio, 16 / 9);
}

/* Carousel variants */

.carousel.portrait {
  --ms-carousel-aspect-ratio: 4 / 5;
}

/* Carousel slide */

.carousel-slide {
  position: absolute;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition-property: all;
  transition-duration: var(--default-transition-duration);
  transition-timing-function: var(--default-transition-timing-function);

  @variant is_active {
    opacity: 1;
  }
}

.carousel-slide img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
}

/* Carousel navigation */

.carousel-navigation {
  position: absolute;
  top: 50%;
  z-index: var(--ms-carousel-nav-z-index, 10);
  width: 100%;
}

.carousel-navigation a {
  --ms-icon-size: var(--ms-carousel-nav-icon-size, --spacing(4.5));

  position: absolute;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: var(--ms-carousel-nav-size, --spacing(8.5));
  height: var(--ms-carousel-nav-size, --spacing(8.5));
  border-width: var(--ms-carousel-nav-border-width, var(--ms-btn-border-width));
  border-style: solid;
  border-color: var(--ms-carousel-nav-border-color, var(--ms-btn-border-color));
  border-radius: var(--ms-carousel-nav-radius, var(--ms-btn-radius));
  background-color: var(--ms-carousel-nav-bg-color, --alpha(var(--ms-btn-bg-color) / 0.75));
  color: var(--ms-carousel-nav-color, var(--ms-btn-color));
  font-size: var(--ms-carousel-nav-font-size, var(--ms-btn-font-size));
  text-align: center;
  transform: translateY(-50%);

  @variant hover {
    border-color: var(--ms-carousel-nav-hover-border-color, var(--ms-btn-hover-border-color));
    background-color: var(--ms-carousel-nav-hover-bg-color, var(--ms-btn-hover-bg-color));
    color: var(--ms-carousel-nav-hover-color, var(--ms-btn-hover-color));
  }
}

.carousel-navigation-next {
  left: var(--ms-carousel-nav-offset, --spacing(2));
}

.carousel-navigation-prev {
  right: var(--ms-carousel-nav-offset, --spacing(2));
}

/* Carousel slide count */

.carousel-slide-count {
  position: absolute;
  inset-inline: 0;
  bottom: 0;
  z-index: var(--ms-carousel-count-z-index, 10);
  background-color: var(--ms-carousel-count-bg-color, --alpha(var(--color-base) / 0.95));
  color: var(--ms-carousel-count-color, var(--color-base-text));
  font-size: var(--ms-carousel-count-font-size, var(--text-2xs));
  text-align: center;
}
