@theme {
  --color-body: oklch(0.266 0.044 264.943);
  --color-primary: oklch(0.544 0.233 291.241);
  --color-secondary: oklch(0.639 0.209 6.961);

  --color-dark: oklch(0.26 0.066 279.517);
  --color-dark-50: oklch(0.509 0.052 257.609);
  --color-dark-100: oklch(0.467 0.054 263.268);
  --color-dark-200: oklch(0.436 0.059 264.202);
  --color-dark-300: oklch(0.393 0.062 264.473);
  --color-dark-400: oklch(0.364 0.058 266.668);
  --color-dark-500: oklch(0.332 0.054 266.369);
  --color-dark-600: oklch(0.324 0.051 266.679);
  --color-dark-700: oklch(0.303 0.044 272.77);
  --color-dark-800: oklch(0.266 0.044 264.943);
  --color-dark-900: oklch(0.208 0.04 265.755);

  --color-menu-link: rgb(255, 255, 255);
  --color-menu-hover: var(--menu-hover-color, var(--color-secondary));
  --color-menu-active-bg: var(--menu-active-bg, var(--color-primary));
  --color-menu-active-color: var(--menu-active-color, rgb(255, 255, 255));
  --color-menu-current-bg: var(--menu-current-bg, rgb(248, 250, 252));
  --color-menu-current-color: var(--menu-current-color, rgb(0, 0, 0));
  --color-menu-dropdown-bg: var(--menu-dropdown-bg, var(--color-dark-600));

  --color-success: oklch(0.639 0.218 142.495);
  --color-warning: oklch(0.898 0.177 96.726);
  --color-error: oklch(0.589 0.214 26.855);
  --color-info: oklch(0.601 0.219 257.63);

  --color-success-bg: var(--color-success);
  --color-success-text: oklch(1 0 89.876);
  --color-warning-bg: var(--color-warning);
  --color-warning-text: oklch(0.564 0.116 95.142);
  --color-error-bg: var(--color-error);
  --color-error-text: oklch(1 0 89.876);
  --color-info-bg: var(--color-info);
  --color-info-text: oklch(1 0 89.876);

  --gradient-start: var(--color-primary);
  --gradient-end: var(--color-primary);
  --track-size: 1.25rem;
  --track-from-color: var(--color-primary);
  --track-to-color: var(--color-primary);
}

/* text colors */
.text-success {
  @apply text-success;
}

.text-error {
  @apply text-error;
}

.text-warning {
  @apply text-warning;
}

.text-info {
  @apply text-info;
}

.text-purple {
  @apply text-purple-500;
}

.text-pink {
  @apply text-pink-500;
}

.text-blue {
  @apply text-blue-500;
}

.text-green {
  @apply text-green-500;
}

.text-yellow {
  @apply text-yellow-500;
}

.text-red {
  @apply text-red-500;
}

.text-gray {
  @apply text-gray-500;
}

/* Background colors */
.bgc-primary {
  @apply !bg-primary text-white;
}

.bgc-secondary {
  @apply !bg-secondary text-white;
}

.bgc-success {
  @apply !bg-success-bg text-success-text;
}

.bgc-warning {
  @apply !bg-warning-bg text-warning-text;
}

.bgc-error {
  @apply !bg-error-bg text-error-text;
}

.bgc-info {
  @apply !bg-info-bg text-info-text;
}

.bgc-purple {
  @apply !bg-purple-100/50 text-purple-800 dark:!bg-purple-900/50 dark:text-purple-300;
}

.bgc-pink {
  @apply !bg-pink-100/50 text-pink-800 dark:!bg-pink-900/50 dark:text-pink-300;
}

.bgc-blue {
  @apply !bg-blue-100/50 text-blue-800 dark:!bg-blue-900/50 dark:text-blue-300;
}

.bgc-green {
  @apply !bg-green-100/50 text-green-800 dark:!bg-green-900/50 dark:text-green-300;
}

.bgc-yellow {
  @apply !bg-yellow-100/50 text-yellow-800 dark:!bg-yellow-900/50 dark:text-yellow-300;
}

.bgc-red {
  @apply !bg-red-100/50 text-red-800 dark:!bg-red-800/50 dark:text-red-300;
}

.bgc-gray {
  @apply !bg-gray-100 text-gray-800 dark:!bg-gray-700/50 dark:text-gray-300;
}
