/* Dropdown */
.dropdown {
  @apply relative
  z-dropdown;

  .dropdown-body {
    @apply pointer-events-none
    invisible
    absolute
    overflow-hidden
    bg-white
    opacity-0 shadow-lg
    dark:bg-theme-500 dark:shadow-black/20
    is_active:pointer-events-auto
    is_active:visible
    is_active:opacity-100;
  }

  .dropdown-heading {
    @apply border-b-1 theme__border
    bg-white p-4
    font-medium
    dark:bg-theme-500
    compact:p-3
    minimalistic:p-2;
  }

  .dropdown-content {
    @apply flex max-h-64
    max-w-[280px] flex-col
    divide-y
    divide-gray-200 overflow-y-auto xs:max-w-[320px]
    dark:divide-theme-200;

    .dropdown-input-search {
      @apply mb-0 rounded-none border-0;
    }
  }

  .dropdown-footer {
    @apply border-t-1 theme__border
    p-3
    compact:px-3 compact:py-2
    minimalistic:px-3 minimalistic:py-2;

    button {
      @apply hover:cursor-pointer;
    }
  }

  /* Dropdown menu */

  .dropdown-menu {
    @apply flex flex-col divide-y divide-gray-200 dark:divide-theme-200;

    .dropdown-menu-item--active {
      .dropdown-menu-link,
      .btn {
        @apply pointer-events-none bg-gray-50 text-gray-400 dark:bg-theme-600 dark:text-slate-500;
      }
    }

    .dropdown-menu-link,
    .btn {
      @apply flex items-center justify-start gap-x-2
      px-2 py-3
      text-xs
      hover:bg-gray-100
      hover:text-black
      xs:px-4 lg:text-sm
      dark:hover:bg-theme-400 dark:hover:text-white
      compact:py-2 minimalistic:py-2;

      > svg {
        @apply h-4 w-4;
      }
    }

    .btn {
      @apply rounded-none border-0 focus:ring-0;
    }
  }
}
