/* Dropdown */
.dropdown {
  @apply
  relative
  z-dropdown
  ;

  &-body {
    @apply
    theme__rounded
    pointer-events-none
    invisible
    overflow-hidden
    opacity-0
    bg-white dark:bg-dark-500
    shadow-lg dark:shadow-black/20
    transition-all duration-100
    ;

    &.visible {
      @apply pointer-events-auto visible opacity-100
    }
  }

  &-heading {
    @apply
    theme__border_for_light_bg border-b-1
    bg-white dark:bg-dark-500
    font-medium
    p-4
    compact:p-3
    minimalistic:p-2
  }

  &-content {
    @apply
    flex flex-col
    max-w-[280px] xs:max-w-[320px]
    max-h-64
    divide-y divide-gray-200 dark:divide-dark-200
    overflow-y-auto
    ;

    .dropdown-input-search {
      @apply mb-0 rounded-none border-0
    }
  }

  &-footer {
    @apply
    theme__border_for_light_bg border-t-1
    p-3
    compact:px-3 compact:py-2
    minimalistic:px-3 minimalistic:py-2
    ;

    button {
      @apply hover:cursor-pointer
    }
  }

  /* Dropdown menu */

  &-menu {
    @apply flex flex-col divide-y divide-gray-200 dark:divide-dark-200;

    &-item {
      &--active {
        .dropdown-menu-link,
        .btn {
          @apply pointer-events-none bg-gray-50 text-gray-400 dark:bg-dark-600 dark:text-slate-500
        }
      }
    }

    &-link,
    .btn {
      @apply flex items-center justify-start gap-x-2
      px-2 xs:px-4
      py-6
      compact:py-3
      minimalistic:py-2
      text-3xs lg:text-2xs
      hover:bg-gray-100 dark:hover:bg-dark-400
      hover:text-black dark:hover:text-white
      ;

      > svg {
        @apply h-4 w-4
      }
    }

    .btn {
      @apply rounded-none border-0 focus:ring-0
    }
  }
}
