/* Aside navigation */
.layout-menu {
  @apply pointer-events-none w-full transition-all lg:pointer-events-auto lg:w-[4.5rem] xl:w-[16.75rem];

  ::-webkit-scrollbar {
    @apply lg:hidden;
  }

  .menu-inner-item-char {
    @apply xl:hidden;
  }

  &._is-minimized {
    @apply lg:pointer-events-auto lg:w-[4.75rem];

    .menu-heading {
      @apply lg:flex-col lg:px-0;
    }

    .menu-heading-actions {
      @apply lg:flex-col lg:gap-y-2;
    }

    .menu-inner-link,
    .menu-inner-button {
      @apply justify-center;
    }

    .menu-inner-item-char {
      @apply block;
    }

    .menu-inner-text,
    .menu-inner-arrow,
    .menu-inner-counter {
      @apply lg:pointer-events-none lg:absolute lg:opacity-0;
    }

    .menu-inner-counter {
      @apply lg:absolute lg:-right-2 lg:top-0.5 lg:max-w-[64px] lg:scale-90;
    }

    .menu-inner-dropdown {
      @apply mb-2 p-[1px];

      .menu-inner-counter {
        @apply lg:right-0 lg:top-0.5 lg:max-w-[48px];
      }
    }

    .menu-inner-divider {
      > span {
        @apply hidden;
      }
    }

    .profile {
      @apply lg:flex-col;

      .profile-info {
        @apply lg:hidden;
      }
    }
  }

  ._is-opened {
    @apply flex flex-col;

    .menu-inner-item-char {
      @apply hidden;
    }
  }

  /* Heading */

  .menu-heading {
    @apply
    pointer-events-auto
    fixed lg:static
    left-0 right-0 top-0
    z-[109] lg:z-3
    flex items-center justify-between
    flex-row lg:flex-col xl:flex-row
    gap-4
    theme__border_for_dark_bg border-b
    bg-body/80 lg:bg-transparent
    lg:mr-4 xl:mr-5
    px-6 md:px-10 lg:px-0 xl:px-4
    py-3 lg:py-3 xl:py-4
    backdrop-blur-sm lg:backdrop-blur-none
    ;

    @variant compact {
      @apply
      lg:mr-2
      px-2 md:px-5 lg:px-1 xl:px-3
      py-2
    }

    @variant minimalistic {
      @apply
      lg:mx-0
      px-2
      py-1 lg:py-2
      gap-2
    }

    .menu-heading-logo {
      @apply grow-0 lg:grow;
    }

    .menu-heading-actions {
      @apply flex items-center justify-end gap-x-3;
    }

    .menu-heading-burger {
      @apply inline-flex items-center
      text-slate-300
      minimalistic:text-slate-500
      lg:hidden
    }
  }

  .menu {
    @apply
    pointer-events-none lg:pointer-events-auto
    invisible lg:visible
    fixed lg:static
    inset-0
    lg:z-1
    h-full
    translate-y-4 lg:translate-y-0
    gap-y-2
    bg-body lg:bg-transparent
    minimalistic:bg-slate-50 minimalistic:dark:bg-dark-700
    px-6 compact:px-4 minimalistic:px-2
    pb-8 compact:pb-5 minimalistic:pb-3
    pt-16 compact:max-sm:pt-12 minimalistic:max-sm:pt-10
    lg:py-0
    lg:pl-0
    lg:pr-4 xl:pr-5
    minimalistic:lg:px-0
    opacity-0 lg:opacity-100
    transition-all lg:transition-none
    lg:mt-0
    lg:flex
    lg:flex-col
    overflow-y-auto overflow-x-clip
    ;

    scrollbar-width: none;

    & > *:first-child {
      @apply mt-2;
    }

    &._is-opened {
      @apply pointer-events-auto visible translate-y-0 opacity-100;
    }


    /* Main navigation */

    .menu-inner {
      @apply flex flex-col gap-y-2;

      &:last-of-type {
        @apply grow;
      }

      .menu-inner-item {
        &._is-active {
          > .menu-inner-link,
          > .menu-inner-button {
            @apply
            theme__rounded
            bg-slate-50 dark:bg-dark-300
            font-medium dark:font-normal
            opacity-100
            text-black dark:text-white
            lg:text-black dark:lg:text-white
            lg:hover:text-inherit
            ;

            @variant minimalistic {
              @apply
              bg-slate-300 dark:bg-slate-500
            }
          }
        }
      }

      .menu-inner-link,
      .menu-inner-button {
        @apply
        theme__rounded
        relative
        flex items-center
        gap-x-2.5
        px-4 py-3
        compact:px-3 compact:py-2
        minimalistic:px-2 minimalistic:py-1
        font-normal
        text-xs
        outline-none
        text-menu-link
        is_active:bg-menu-active-bg
        is_active:text-menu-active-color
        ;

        @variant not-minimalistic {
          @apply
          hover:text-menu-hover
          hover:bg-menu-hover/5
        }

        @variant minimalistic {
          @apply
          text-body dark:text-slate-300
          hover:bg-slate-200
          dark:hover:bg-slate-600
          dark:is_active:bg-slate-600
          is_active:bg-slate-300
        }

        &._is-active {
          .menu-inner-arrow {
            @apply scale-y-[-1];
          }
        }

        > div,
        > svg {
          @apply h-6 w-6;
        }
      }

      .menu-inner-link {
        &::after {
          content: '';
          @apply absolute inset-y-0 -right-5 hidden w-5 bg-slate-50 dark:bg-dark-700;
        }
      }

      .menu-inner-button {
        @apply w-full;
      }

      .menu-inner-text {
        @apply grow truncate text-left;
      }

      .menu-inner-counter {
        @apply
        theme__rounded
        h-6
        shrink-0
        truncate
        leading-6
        bg-primary
        px-1.5
        text-center
        text-[12px]
        font-medium
        text-white
        lg:absolute xl:static
        lg:-right-2 xl:-right-1
        lg:top-0.5 xl:top-0
        lg:max-w-[64px] xl:max-w-[120px]
        lg:scale-90 xl:scale-100
        lg:z-1
      }

      .menu-inner-arrow {
        @apply transition-transform;

        > div,
        > svg {
          @apply h-4 w-4;
        }
      }

      .menu-inner-text,
      .menu-inner-arrow {
        @apply block lg:hidden xl:block;
      }

      /* Dropdown Menu */

      .menu-inner-dropdown {
        @apply
        theme__rounded
        bg-menu-dropdown-bg
        flex flex-col
        gap-y-2
        mt-2
        p-1
        ;

        @variant compact {
          @apply
          mt-1
          p-0
        }

        @variant minimalistic {
          @apply
          bg-transparent
          theme__border_for_dark_bg border
          my-1
          p-0
        }

        .menu-inner-link,
        .menu-inner-button {
          @apply p-2.5 text-2xs
          minimalistic:p-1.5
          ;

          > div,
          > svg {
            @apply h-5 w-5;
          }
        }

        .menu-inner-counter {
          @apply h-5 bg-secondary text-[11px] leading-5 lg:right-0 lg:top-0.5 lg:max-w-[48px] xl:right-1 xl:max-w-[120px];
        }

        .menu-inner-divider {
          @apply -ml-3.5;
        }

        .menu-inner-dropdown {
          @apply mb-2 border-b border-t border-dashed border-slate-500 px-0;
        }
      }

      /* Divider */

      .menu-inner-divider {
        @apply relative my-2 -ml-4 flex items-center pl-4 pr-0.5 text-slate-400 before:h-[1px] before:min-w-[16px] before:grow before:bg-slate-500;

        > span {
          @apply relative z-1 block w-full truncate pl-2.5 lg:hidden xl:block;
        }
      }
    }

    /* User Profile */

    .profile {
      @apply
      px-2 py-4
      compact:py-2
      minimalistic:px-0 minimalistic:py-2
      ;

      .profile-info {
        > .name {
          @apply
          text-white
          minimalistic:text-primary
          minimalistic:dark:text-inherit
        }
      }
    }
  }

  .profile {
    @apply flex-row lg:flex-col xl:flex-row;
  }

  /* Bottom menu */

  .menu-bottom {
    @apply hidden lg:block
    pr-5
    compact:pr-3
    minimalistic:px-0
    ;

    > *:first-child {
      @apply
      border-t theme__border_for_dark_bg
      pt-2
    }

    .menu-inner-button {
      @apply flex gap-2 text-gray-300
      minimalistic:text-inherit
    }
  }
}

/* Aside horizontal navigation */
.layout-menu-horizontal {
  @apply
  sticky
  z-[200]
  top-0
  inset-x-0
  flex items-center
  gap-x-5
  h-[4.5rem] lg:h-20
  compact:lg:h-16
  minimalistic:lg:h-14
  bg-body/95
  px-6 md:px-10
  transition-colors
  ;

  .menu-inner-item-char {
    @apply hidden;
  }

  /* Opened menu state */

  &._is-opened {
    @apply bg-body;

    @media (max-width: 1023px) {
      .menu-navigation {
        @apply pointer-events-auto visible fixed translate-y-0 opacity-100;
      }
    }
  }

  /* Logotype */

  .menu-logo {
    @apply shrink-0;
  }

  /* Main navigation */

  .menu-navigation {
    @apply flex lg:grow;
  }

  .menu-inner {
    @apply flex gap-x-0.5 overflow-x-auto lg:gap-x-1.5;

    &:last-of-type {
      @apply grow;
    }

    .menu-inner-item {
      @apply relative theme__rounded text-white transition-all;

      &._is-active {
        @apply
        bg-menu-current-bg
        font-medium
        text-menu-current-color
        opacity-100
        transition-none
        dark:font-normal
        lg:bg-slate-50
        lg:text-black
        dark:lg:text-white
        dark:lg:bg-dark-700
        ;

        .menu-inner-link {
          @apply
          text-menu-current-color
          lg:text-inherit
          hover:text-menu-current-color
          lg:hover:text-inherit
        }
      }
    }

    .menu-inner-link,
    .menu-inner-button {
      @apply relative flex items-center gap-x-2.5
      theme__rounded
      p-2.5 text-2xs font-normal text-menu-link outline-none hover:bg-menu-hover/5 hover:text-menu-hover;

      &._is-active {
        @apply bg-menu-active-bg text-menu-active-color;

        .menu-inner-arrow {
          @apply scale-y-[-1];
        }
      }

      > div,
      > svg {
        @apply h-6 w-6;
      }
    }

    .menu-inner-button {
      @apply w-full;
    }

    .menu-inner-text {
      @apply grow truncate text-left;
    }

    .menu-inner-counter {
      @apply absolute -right-1 top-0.5 z-1 h-6 max-w-[64px] shrink-0 scale-90 truncate rounded-md bg-primary px-1.5 text-center text-[12px] font-medium leading-6 text-white lg:static lg:max-w-[120px] lg:scale-100;
    }

    .menu-inner-arrow {
      @apply transition-transform;

      > div,
      > svg {
        @apply h-4 w-4;
      }
    }

    .menu-inner-text,
    .menu-inner-arrow {
      @apply hidden lg:block;
    }

    /* Dropdown Menu */

    .menu-inner-dropdown {
      @apply fixed z-5 flex flex-col gap-y-1
      theme__rounded
      border border-dark-300
      top-[4.85rem]
      compact:top-[3.85rem]
      minimalistic:top-[2.85rem]
      bg-menu-dropdown-bg px-1 py-1.5 shadow-lg md:min-w-[190px] lg:max-h-72 lg:min-w-[240px] lg:overflow-y-auto;

      .menu-inner-link,
      .menu-inner-button {
        @apply p-2 text-2xs;

        > div,
        > svg {
          @apply h-5 w-5;
        }
      }

      .menu-inner-text {
        @apply block;
      }

      .menu-inner-counter {
        @apply right-0 top-0.5 h-5 max-w-[48px] bg-secondary text-[11px] leading-5 xl:right-1 xl:max-w-[120px];
      }

      .menu-inner-divider {
        @apply my-2 -ml-3.5 pl-4 pr-0.5 before:h-[1px] before:min-w-[16px] before:bg-slate-400;

        > span {
          @apply block;
        }
      }

      .menu-inner-dropdown {
        @apply static mt-1 max-h-full border-b border-l-0 border-r-0 border-t border-dashed border-slate-500 px-0 shadow-none;
      }
    }

    /* Divider */

    .menu-inner-divider {
      @apply relative mx-1 flex items-center text-slate-400 before:h-[16px] before:min-w-[1px] before:grow before:bg-white/30;

      > span {
        @apply relative z-1 hidden w-full truncate pl-2.5;
      }
    }
  }

  /* Actions buttons */

  .menu-actions {
    @apply ml-auto flex shrink-0 items-center justify-end gap-x-2 sm:gap-x-3;

    .menu-inner-divider {
      @apply mx-1;
    }

    .profile-info {
      @apply hidden sm:block;
    }
  }

  /* Settings button */

  .menu-settings {
    @apply inline-flex items-center;
  }

  /* Burger button */

  .menu-burger {
    @apply inline-flex items-center text-white lg:hidden;
  }

  @media (max-width: 1023.98px) {
    .menu-navigation {
      --top-space: 4.5rem;

      @apply
      h-[calc(100vh_-_var(--top-space))]
      pointer-events-none
      invisible
      absolute
      bottom-0
      z-[120]
      inset-x-0
        /*top-[--top-space]*/
      overflow-x-auto
      bg-body
      px-3 md:px-7
        pb-8
      opacity-0
      transition-all
    }

    .menu-inner {
      @apply flex-col gap-y-0.5 overflow-x-hidden;

      .menu-inner-text,
      .menu-inner-arrow {
        @apply block;
      }

      .menu-inner-counter {
        @apply static max-w-[120px] scale-100;
      }

      .menu-inner-divider {
        @apply before:h-[1px] before:min-w-[16px];
      }

      > .menu-inner-divider {
        @apply my-1;
      }

      .menu-inner-button._is-active ~ .menu-inner-dropdown {
        @apply block;
      }

      .menu-inner-dropdown {
        @apply static mt-2 hidden transform-none;
      }
    }
  }
}

/* Aside navigation mobile */
.layout-menu-mobile {
  @apply pointer-events-none w-full transition-all;

  ._is-opened {
    @apply flex flex-col;

    .menu-inner-item-char {
      @apply hidden;
    }
  }

  .menu {
    @apply
    pointer-events-none
    invisible
    fixed
    z-menu
    inset-0
    h-full
    translate-y-4
    bg-body
    pt-14 px-6 pb-8
    opacity-0
    transition-all
    overflow-x-clip overflow-y-auto
    ;

    &._is-opened {
      @apply pointer-events-auto visible translate-y-0 opacity-100;
    }

    /* Heading */

    .menu-heading {
      @apply
      pointer-events-auto
      fixed
      top-0 right-0 left-0
      z-[109]
      flex flex-row items-center justify-between
      gap-4
      theme__border_for_dark_bg border-b
      bg-body/80
      px-6
      py-3
      backdrop-blur-sm
      md:px-10
      ;

      .menu-heading-logo {
        @apply grow-0;
      }

      .menu-heading-actions {
        @apply flex items-center justify-end gap-x-3;
      }

      .menu-heading-mode {
        @apply inline-flex items-center justify-center;

        .menu-heading-mode-btn {
          @apply h-6 w-6 overflow-hidden text-white/30 hover:text-white;

          > svg {
            @apply h-6 w-6;
          }
        }
      }

      .menu-heading-burger {
        @apply inline-flex items-center text-white;
      }
    }

    /* Main navigation */

    .menu-inner {
      @apply flex flex-col gap-y-2;

      &:last-of-type {
        @apply grow;
      }

      .menu-inner-item {
        &._is-active {
          > .menu-inner-link,
          > .menu-inner-button {
            @apply rounded-lg bg-slate-50 font-medium text-black opacity-100 dark:bg-dark-300 dark:font-normal dark:text-white lg:text-black lg:hover:text-inherit dark:lg:text-white;
          }
        }
      }

      .menu-inner-link,
      .menu-inner-button {
        @apply relative flex items-center gap-x-2.5 rounded-lg px-4 py-3 text-xs font-normal text-menu-link outline-none hover:bg-menu-hover/5 hover:text-menu-hover;

        &._is-active {
          @apply bg-menu-active-bg text-menu-active-color;

          .menu-inner-arrow {
            @apply scale-y-[-1];
          }
        }

        > div,
        > svg {
          @apply h-6 w-6;
        }
      }

      .menu-inner-link {
        &::after {
          content: '';
          @apply absolute inset-y-0 -right-5 hidden w-5 bg-slate-50 dark:bg-dark-700;
        }
      }

      .menu-inner-button {
        @apply w-full;
      }

      .menu-inner-text {
        @apply grow truncate text-left;
      }

      .menu-inner-counter {
        @apply h-6 shrink-0 truncate rounded-md bg-primary px-1.5 text-center text-[12px] font-medium leading-6 text-white lg:absolute lg:-right-2 lg:top-0.5 lg:z-1 lg:max-w-[64px] lg:scale-90 xl:static xl:-right-1 xl:top-0 xl:max-w-[120px] xl:scale-100;
      }

      .menu-inner-arrow {
        @apply transition-transform;

        > div,
        > svg {
          @apply h-4 w-4;
        }
      }

      .menu-inner-text,
      .menu-inner-arrow {
        @apply block lg:hidden xl:block;
      }

      /* Dropdown Menu */

      .menu-inner-dropdown {
        @apply mt-2 flex flex-col gap-y-2 theme__rounded bg-menu-dropdown-bg p-1;

        .menu-inner-link,
        .menu-inner-button {
          @apply p-2.5 text-2xs;

          > div,
          > svg {
            @apply h-5 w-5;
          }
        }

        .menu-inner-counter {
          @apply h-5 bg-secondary text-[11px] leading-5 lg:right-0 lg:top-0.5 lg:max-w-[48px] xl:right-1 xl:max-w-[120px];
        }

        .menu-inner-divider {
          @apply -ml-3.5;
        }

        .menu-inner-dropdown {
          @apply mb-2 border-b border-t border-dashed border-slate-500 px-0;
        }
      }

      /* Divider */

      .menu-inner-divider {
        @apply relative my-2 -ml-4 flex items-center pl-4 pr-0.5 text-slate-400 before:h-[1px] before:min-w-[16px] before:grow before:bg-slate-500;

        > span {
          @apply relative z-1 block w-full truncate pl-2.5 lg:hidden xl:block;
        }
      }
    }
  }
}
