/* Aside navigation */
.layout-menu {
  @apply pointer-events-none w-full transition-all lg:pointer-events-auto lg:w-[4.5rem] xl:w-[16.75rem];

  ::-webkit-scrollbar {
    @apply lg:hidden;
  }

  .menu-inner-item-char {
    @apply xl:hidden;
  }

  &._is-minimized {
    @apply lg:pointer-events-auto lg:!w-[4.75rem];

    .menu-heading {
      @apply lg:flex-col lg:px-0;
    }

    .menu-heading-actions {
      @apply lg:flex-col lg:gap-y-2;
    }

    .menu-inner-link,
    .menu-inner-button {
      @apply justify-center;
    }

    .menu-inner-item-char {
      @apply block;
    }

    .menu-inner-text,
    .menu-inner-arrow,
    .menu-inner-counter {
      @apply lg:pointer-events-none lg:absolute lg:opacity-0;
    }

    .menu-inner-counter {
      @apply lg:absolute lg:-right-2 lg:top-0.5 lg:max-w-[64px] lg:scale-90;
    }

    .menu-inner-dropdown {
      @apply mb-2 p-[1px];

      .menu-inner-counter {
        @apply lg:right-0 lg:top-0.5 lg:max-w-[48px];
      }
    }

    .menu-inner-divider {
      > span {
        @apply hidden;
      }
    }

    .profile {
      @apply lg:flex-col;

      .profile-info {
        @apply lg:hidden;
      }
    }
  }

  ._is-opened {
    @apply flex flex-col;

    .menu-inner-item-char {
      @apply !hidden;
    }
  }

  /* Heading */

  .menu-heading {
    @apply pointer-events-auto fixed left-0 right-0 top-0 z-[109] flex flex-row items-center justify-between gap-4 border-b border-body bg-body/80 px-6 py-3 backdrop-blur-sm md:px-10 lg:static lg:z-3 lg:mr-4 lg:flex-col lg:border-dark-200 lg:bg-transparent lg:px-0 lg:py-3 lg:backdrop-blur-none xl:mr-5 xl:flex-row xl:px-4 xl:py-4;

    .menu-heading-logo {
      @apply grow-0 lg:grow;
    }

    .menu-heading-actions {
      @apply flex items-center justify-end gap-x-3;
    }

    .menu-heading-burger {
      @apply inline-flex items-center text-slate-300 lg:hidden;
    }
  }

  .menu {
    @apply pointer-events-none invisible fixed inset-0 z-[100] h-full translate-y-4 gap-y-2 bg-body px-6 pb-8 pt-14 opacity-0 transition-all lg:pointer-events-auto lg:visible lg:static lg:z-1 lg:mt-0 lg:flex lg:translate-y-0 lg:flex-col lg:bg-transparent lg:py-0 lg:pl-0 lg:pr-4 lg:opacity-100 lg:transition-none xl:pr-5;
    overflow-y: auto;
    overflow-x: clip;
    scrollbar-width: none;

    & > *:first-child {
      @apply mt-2;
    }

    &._is-opened {
      @apply pointer-events-auto visible translate-y-0 opacity-100;
    }


    /* Main navigation */

    .menu-inner {
      @apply flex flex-col gap-y-2;

      &:last-of-type {
        @apply grow;
      }

      .menu-inner-item {
        &._is-active {
          > .menu-inner-link,
          > .menu-inner-button {
            @apply rounded-lg bg-slate-50 font-medium text-black opacity-100 dark:bg-dark-300 dark:font-normal dark:text-white lg:text-black lg:hover:text-inherit dark:lg:text-white;
          }
        }
      }

      .menu-inner-link,
      .menu-inner-button {
        @apply relative flex items-center gap-x-2.5 rounded-lg px-4 py-3 text-xs font-normal text-menu-link outline-none hover:bg-menu-hover/5 hover:text-menu-hover;

        &._is-active {
          @apply bg-menu-active-bg text-menu-active-color;

          .menu-inner-arrow {
            @apply scale-y-[-1];
          }
        }

        > div,
        > svg {
          @apply h-6 w-6;
        }
      }

      .menu-inner-link {
        &::after {
          content: '';
          @apply absolute inset-y-0 -right-5 hidden w-5 bg-slate-50 dark:bg-dark-700;
        }
      }

      .menu-inner-button {
        @apply w-full;
      }

      .menu-inner-text {
        @apply grow truncate text-left;
      }

      .menu-inner-counter {
        @apply h-6 shrink-0 truncate rounded-md bg-primary px-1.5 text-center text-[12px] font-medium leading-6 text-white lg:absolute lg:-right-2 lg:top-0.5 lg:z-1 lg:max-w-[64px] lg:scale-90 xl:static xl:-right-1 xl:top-0 xl:max-w-[120px] xl:scale-100;
      }

      .menu-inner-arrow {
        @apply transition-transform;

        > div,
        > svg {
          @apply h-4 w-4;
        }
      }

      .menu-inner-text,
      .menu-inner-arrow {
        @apply block lg:hidden xl:block;
      }

      /* Dropdown Menu */

      .menu-inner-dropdown {
        @apply mt-2 flex flex-col gap-y-2 rounded-lg bg-menu-dropdown-bg p-1;

        .menu-inner-link,
        .menu-inner-button {
          @apply p-2.5 text-2xs;

          > div,
          > svg {
            @apply h-5 w-5;
          }
        }

        .menu-inner-counter {
          @apply h-5 bg-secondary text-[11px] leading-5 lg:right-0 lg:top-0.5 lg:max-w-[48px] xl:right-1 xl:max-w-[120px];
        }

        .menu-inner-divider {
          @apply -ml-3.5;
        }

        .menu-inner-dropdown {
          @apply mb-2 border-b border-t border-dashed border-slate-500 px-0;
        }
      }

      /* Divider */

      .menu-inner-divider {
        @apply relative my-2 -ml-4 flex items-center pl-4 pr-0.5 text-slate-400 before:h-[1px] before:min-w-[16px] before:grow before:bg-slate-500;

        > span {
          @apply relative z-1 block w-full truncate pl-2.5 lg:hidden xl:block;
        }
      }
    }

    /* User Profile */

    .profile {
      @apply px-2 py-4;

      .profile-info {
        > .name {
          @apply text-white;
        }
      }
    }
  }

  .profile {
    @apply flex-row lg:flex-col xl:flex-row;
  }

  /* Bottom menu */

  .menu-bottom {
    @apply hidden pr-5 lg:block;

    > *:first-child {
      @apply border-t border-dark-200 pt-2;
    }

    .menu-inner-button {
      @apply flex gap-2 text-gray-300
    }
  }
}

/* Aside horizontal navigation */
.layout-menu-horizontal {
  @apply sticky inset-x-0 top-0 z-[100] flex h-[4.5rem] items-center gap-x-5 overflow-x-auto overflow-y-hidden bg-body/95 px-6 transition-colors md:px-10 lg:h-24 lg:overflow-y-auto;

  .menu-inner-item-char {
    @apply hidden;
  }

  /* Opened menu state */

  &._is-opened {
    @apply bg-body;

    @media (max-width: 1023px) {
      .menu-navigation {
        @apply pointer-events-auto visible fixed translate-y-0 opacity-100;
      }
    }
  }

  .menu {
    /* Logotype */

    & -logo {
      @apply shrink-0;
    }

    /* Main navigation */

    & -navigation {
      @apply block lg:grow;
    }

    & -inner {
      @apply flex gap-x-0.5 overflow-x-auto lg:gap-x-1.5;

      &:last-of-type {
        @apply grow;
      }

      & -item {
        @apply relative rounded-lg text-white transition-all;

        &._is-active {
          @apply
          bg-menu-current-bg
          font-medium
          text-menu-current-color
          opacity-100
          transition-none
          dark:font-normal
          lg:bg-slate-50
          lg:text-black
          dark:lg:text-white
          dark:lg:bg-dark-700
          ;

          .menu-inner-link {
            @apply text-menu-current-color hover:text-menu-current-color lg:text-inherit lg:hover:text-inherit;
          }
        }
      }

      & -link,
      & -button {
        @apply relative flex items-center gap-x-2.5 rounded-lg p-2.5 text-2xs font-normal text-menu-link outline-none hover:bg-menu-hover/5 hover:text-menu-hover;

        &._is-active {
          @apply bg-menu-active-bg text-menu-active-color;

          .menu-inner-arrow {
            @apply scale-y-[-1];
          }
        }

        > div,
        > svg {
          @apply h-6 w-6;
        }
      }

      & -button {
        @apply w-full;
      }

      & -text {
        @apply grow truncate text-left;
      }

      & -counter {
        @apply absolute -right-1 top-0.5 z-1 h-6 max-w-[64px] shrink-0 scale-90 truncate rounded-md bg-primary px-1.5 text-center text-[12px] font-medium leading-6 text-white lg:static lg:max-w-[120px] lg:scale-100;
      }

      & -arrow {
        @apply transition-transform;

        > div,
        > svg {
          @apply h-4 w-4;
        }
      }

      & -text,
      & -arrow {
        @apply hidden lg:block;
      }

      /* Dropdown Menu */

      & -dropdown {
        @apply fixed top-[4.85rem] z-5 flex flex-col gap-y-1 rounded-lg border border-dark-300 bg-menu-dropdown-bg px-1 py-1.5 shadow-lg md:min-w-[190px] lg:max-h-72 lg:min-w-[240px] lg:overflow-y-auto;

        .menu-inner-link,
        .menu-inner-button {
          @apply p-2 text-2xs;

          > div,
          > svg {
            @apply h-5 w-5;
          }
        }

        .menu-inner-text {
          @apply block;
        }

        .menu-inner-counter {
          @apply right-0 top-0.5 h-5 max-w-[48px] bg-secondary text-[11px] leading-5 xl:right-1 xl:max-w-[120px];
        }

        .menu-inner-divider {
          @apply my-2 -ml-3.5 pl-4 pr-0.5 before:h-[1px] before:min-w-[16px] before:bg-slate-400;

          > span {
            @apply block;
          }
        }

        .menu-inner-dropdown {
          @apply static mt-1 max-h-full border-b border-l-0 border-r-0 border-t border-dashed border-slate-500 px-0 shadow-none;
        }
      }

      /* Divider */

      & -divider {
        @apply relative mx-1 flex items-center text-slate-400 before:h-[16px] before:min-w-[1px] before:grow before:bg-white/30;

        > span {
          @apply relative z-1 hidden w-full truncate pl-2.5;
        }
      }
    }

    /* Actions buttons */

    & -actions {
      @apply ml-auto flex shrink-0 items-center justify-end gap-x-2 sm:gap-x-3;

      .menu-inner-divider {
        @apply mx-1;
      }

      .profile-info {
        @apply hidden sm:block;
      }
    }

    /* Settings button */

    & -settings {
      @apply inline-flex items-center;
    }

    /* Burger button */

    & -burger {
      @apply inline-flex items-center text-white lg:hidden;
    }
  }

  @media (max-width: 1023.98px) {
    .menu {
      & -navigation {
        --top-space: 4.5rem;
        @apply pointer-events-none invisible absolute inset-x-0 top-[--top-space] -translate-y-2 overflow-x-auto bg-body px-3 pb-8 opacity-0 transition-all md:px-7;
        height: calc(100vh - var(--top-space));
      }

      & -inner {
        @apply flex-col gap-y-0.5 overflow-x-hidden;

        .menu-inner-text,
        .menu-inner-arrow {
          @apply block;
        }

        .menu-inner-counter {
          @apply static max-w-[120px] scale-100;
        }

        .menu-inner-divider {
          @apply before:h-[1px] before:min-w-[16px];
        }

        > .menu-inner-divider {
          @apply my-1;
        }

        .menu-inner-button._is-active ~ .menu-inner-dropdown {
          @apply !block;
        }

        .menu-inner-dropdown {
          @apply !static !mt-2 !hidden !transform-none;
        }
      }
    }
  }
}

/* Aside navigation mobile */
.layout-menu-mobile {
  @apply pointer-events-none w-full transition-all;

  ._is-opened {
    @apply flex flex-col;

    .menu-inner-item-char {
      @apply !hidden;
    }
  }

  .menu {
    @apply pointer-events-none invisible fixed inset-0 z-[100] h-full translate-y-4 bg-body px-6 pb-8 pt-14 opacity-0 transition-all;
    overflow-y: auto;
    overflow-x: clip;

    &._is-opened {
      @apply pointer-events-auto visible translate-y-0 opacity-100;
    }

    /* Heading */

    .menu-heading {
      @apply pointer-events-auto fixed left-0 right-0 top-0 z-[109] flex flex-row items-center justify-between gap-4 border-b border-body bg-body/80 px-6 py-3 backdrop-blur-sm md:px-10;

      .menu-heading-logo {
        @apply grow-0;
      }

      .menu-heading-actions {
        @apply flex items-center justify-end gap-x-3;
      }

      .menu-heading-mode {
        @apply inline-flex items-center justify-center;

        .menu-heading-mode-btn {
          @apply h-6 w-6 overflow-hidden text-white/30 hover:text-white;

          > svg {
            @apply h-6 w-6;
          }
        }
      }

      .menu-heading-burger {
        @apply inline-flex items-center text-white;
      }
    }

    /* Main navigation */

    .menu-inner {
      @apply flex flex-col gap-y-2;

      &:last-of-type {
        @apply grow;
      }

      .menu-inner-item {
        &._is-active {
          > .menu-inner-link,
          > .menu-inner-button {
            @apply rounded-lg bg-slate-50 font-medium text-black opacity-100 dark:bg-dark-300 dark:font-normal dark:text-white lg:text-black lg:hover:text-inherit dark:lg:text-white;
          }
        }
      }

      .menu-inner-link,
      .menu-inner-button {
        @apply relative flex items-center gap-x-2.5 rounded-lg px-4 py-3 text-xs font-normal text-menu-link outline-none hover:bg-menu-hover/5 hover:text-menu-hover;

        &._is-active {
          @apply bg-menu-active-bg text-menu-active-color;

          .menu-inner-arrow {
            @apply scale-y-[-1];
          }
        }

        > div,
        > svg {
          @apply h-6 w-6;
        }
      }

      .menu-inner-link {
        &::after {
          content: '';
          @apply absolute inset-y-0 -right-5 hidden w-5 bg-slate-50 dark:bg-dark-700;
        }
      }

      .menu-inner-button {
        @apply w-full;
      }

      .menu-inner-text {
        @apply grow truncate text-left;
      }

      .menu-inner-counter {
        @apply h-6 shrink-0 truncate rounded-md bg-primary px-1.5 text-center text-[12px] font-medium leading-6 text-white lg:absolute lg:-right-2 lg:top-0.5 lg:z-1 lg:max-w-[64px] lg:scale-90 xl:static xl:-right-1 xl:top-0 xl:max-w-[120px] xl:scale-100;
      }

      .menu-inner-arrow {
        @apply transition-transform;

        > div,
        > svg {
          @apply h-4 w-4;
        }
      }

      .menu-inner-text,
      .menu-inner-arrow {
        @apply block lg:hidden xl:block;
      }

      /* Dropdown Menu */

      .menu-inner-dropdown {
        @apply mt-2 flex flex-col gap-y-2 rounded-lg bg-menu-dropdown-bg p-1;

        .menu-inner-link,
        .menu-inner-button {
          @apply p-2.5 text-2xs;

          > div,
          > svg {
            @apply h-5 w-5;
          }
        }

        .menu-inner-counter {
          @apply h-5 bg-secondary text-[11px] leading-5 lg:right-0 lg:top-0.5 lg:max-w-[48px] xl:right-1 xl:max-w-[120px];
        }

        .menu-inner-divider {
          @apply -ml-3.5;
        }

        .menu-inner-dropdown {
          @apply mb-2 border-b border-t border-dashed border-slate-500 px-0;
        }
      }

      /* Divider */

      .menu-inner-divider {
        @apply relative my-2 -ml-4 flex items-center pl-4 pr-0.5 text-slate-400 before:h-[1px] before:min-w-[16px] before:grow before:bg-slate-500;

        > span {
          @apply relative z-1 block w-full truncate pl-2.5 lg:hidden xl:block;
        }
      }
    }
  }
}
