/* Modal */
.modal {
  @apply fixed top-0 left-0 z-modal h-full w-full overflow-x-hidden overflow-y-auto bg-clip-padding transition-all outline-none;

  .modal-template {
    @apply relative z-modal;
  }

  .modal-dialog {
    @apply pointer-events-none
    mx-auto my-8
    flex
    min-h-[calc(100%_-_2rem_*_2)]
    items-center
    px-4 sm:max-w-[520px]
    md:max-w-[720px];
  }

  .modal-dialog-auto {
    @apply max-w-max;

    .modal-header,
    .modal-body {
      @apply p-4;
    }
  }

  .modal-dialog-xl {
    @apply max-w-[1640px];
  }

  .modal-content {
    @apply pointer-events-auto relative flex w-full flex-col rounded-lg bg-white shadow-lg dark:bg-dark-700;
  }

  .modal-header {
    @apply sticky top-0 z-20
    flex justify-between gap-x-4
    rounded-t-lg
    border-b theme__border
    bg-white p-4
    lg:p-6 dark:bg-dark-700
    compact:p-4
    minimalistic:p-3;
  }

  .modal-title {
    @apply self-center text-xs font-semibold xs:text-sm;
  }

  .modal-body {
    @apply grow
    p-4 lg:p-6
    compact:p-4
    minimalistic:p-3;
  }
}

/* Backdrop */

.modal-backdrop {
  @apply fixed inset-0 z-1000 h-screen w-screen bg-dark/80 dark:bg-dark-900/80;
}
