/* Modal basic */

.modal {
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-modal);
  width: 100%;
  height: 100%;
  background-clip: padding-box;
  outline: none;
}

.modal-template {
  position: relative;
  z-index: var(--z-modal);
}

/* Modal dialog */

.modal-dialog {
  pointer-events: none;
  display: flex;
  align-items: center;
  max-width: var(--ms-modal-dialog-max-width, 520px);
  min-height: calc(100% - 2rem * 2);
  margin-block: var(--ms-modal-dialog-margin-y, --spacing(4));
  margin-inline: auto;
  padding-inline: var(--ms-modal-dialog-padding-x, --spacing(4));
}

.modal-dialog-auto {
  max-width: max-content;

  .modal-header,
  .modal-body {
    padding: var(--ms-modal-auto-padding, --spacing(4));
  }
}

.modal-dialog-xl {
  --ms-modal-dialog-max-width: 80rem;
}

/* Modal content */

.modal-content {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: var(--ms-modal-content-radius, var(--radius-xl));
  border: var(--ms-modal-content-border-width, 1px) solid
    var(--ms-modal-content-border-color, var(--color-base-stroke));
  background-color: var(--ms-modal-content-bg-color, var(--color-base));
  box-shadow:
    0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
  pointer-events: auto;
  color: var(--ms-modal-content-color, var(--color-base-text));
}

/* Modal header */

.modal-header {
  position: sticky;
  top: 0;
  z-index: 20;
  display: flex;
  justify-content: space-between;
  column-gap: var(--ms-modal-header-gap, --spacing(4));
  padding-block: var(--ms-modal-header-padding-y, --spacing(4));
  padding-inline: var(--ms-modal-header-padding-x, --spacing(4));
  border-bottom: var(--ms-modal-header-border-width, 1px) solid
    var(--ms-modal-header-border-color, var(--color-base-stroke));
}

.modal-title {
  align-self: center;
  font-size: var(--ms-modal-title-font-size, var(--text-md));
  font-weight: var(--ms-modal-title-font-weight, var(--font-weight-semibold));
  word-break: break-word;
}

/* Modal body */

.modal-body {
  overflow-y: auto;
  flex-grow: 1;
  padding-block: var(--ms-modal-body-padding-y, --spacing(5));
  padding-inline: var(--ms-modal-body-padding-x, --spacing(4));
}

/* Modal backdrop (overlay) */

.modal-backdrop {
  position: fixed;
  inset: 0;
  z-index: 1000;
  width: 100vw;
  height: 100vh;
  background-color: --alpha(var(--ms-modal-backdrop-bg-color, var(--color-black)) / 0.5);
  backdrop-filter: blur(var(--ms-modal-backdrop-blur, 4px));
}
