/* Notifications basic */

.notifications {
  position: relative;
  z-index: var(--z-notifications);

  .dropdown-content {
    width: 100%;
  }
}

/* Notifications icon */

.notifications-trigger {
  --ms-icon-size: var(--ms-notifications-trigger-icon-size, --spacing(5));

  position: relative;
  display: block;
  color: var(--ms-notifications-trigger-icon-color, var(--color-base-text));
  cursor: pointer;

  @variant hover {
    color: var(--ms-notifications-trigger-icon-hover-color, var(--color-primary));
  }
}

.notifications-trigger-dot {
  position: absolute;
  top: 0;
  right: --spacing(0.75);
  z-index: 2;
  display: inline-block;
  width: --spacing(1.75);
  height: --spacing(1.75);
  border-radius: 50%;
  background-color: var(--ms-notifications-trigger-dot-color, var(--color-red-500));
}

/* Notifications item */

.notifications-item {
  position: relative;
  display: flex;
  column-gap: var(--ms-notifications-item-gap, --spacing(2));
  padding: var(--ms-notifications-item-padding, --spacing(3));
}

/* Notifications remove button */

.notifications-remove {
  --ms-icon-size: var(--ms-notifications-remove-icon-size, --spacing(4));

  order: 9999;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--ms-notifications-remove-size, --spacing(3));
  height: var(--ms-notifications-remove-size, --spacing(3));
  color: --alpha(var(--ms-notifications-remove-color, var(--color-base-text)) / 0.5);

  @variant hover {
    color: var(--ms-notifications-remove-hover-color, var(--color-red-600));
  }
}

/* Notifications category */

.notifications-category {
  --ms-icon-size: var(--ms-notifications-category-icon-size, --spacing(5));

  flex-shrink: 0;
  overflow: hidden;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: var(--ms-notifications-category-size, --spacing(5));
  height: var(--ms-notifications-category-size, --spacing(5));
  border-radius: 50%;
}

/* Notifications content */

.notifications-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  row-gap: var(--ms-notifications-content-gap, --spacing(0.5));
}

.notifications-text {
  color: var(--ms-notifications-text-color, var(--color-base-text));
  font-size: var(--ms-notifications-text-font-size, var(--text-xs));
}

/* Notifications more link */

.notifications-more {
  font-size: var(--ms-notifications-more-font-size, var(--text-xs));
  font-weight: var(--ms-notifications-more-font-weight, var(--font-weight-medium));
}

/* Notifications time */

.notifications-time {
  color: --alpha(var(--ms-notifications-time-color, var(--color-base-text)) / 0.5);
  font-size: var(--ms-notifications-time-font-size, var(--text-2xs));
}

/* Notifications read button */

.notifications-read {
  display: block;
  font-size: var(--ms-notifications-read-font-size, var(--text-xs));
  font-weight: var(--ms-notifications-read-font-weight, var(--font-weight-medium));
  text-align: center;
}
