/* Pagination basic */

.pagination {
  margin-top: var(--ms-pagination-margin-top, --spacing(6));
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--ms-pagination-list-gap, --spacing(2));
}

.pagination-item {
  @variant is_active {
    pointer-events: none;
    background-color: var(--ms-pagination-item-active-bg-color, var(--color-primary));
    color: var(--ms-pagination-item-active-color, var(--color-white));
  }
}

/* Pagination elements */

.pagination-link,
.pagination-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--ms-pagination-element-size, --spacing(8));
  min-width: var(--ms-pagination-element-size, --spacing(8));
  padding-block: var(--ms-pagination-element-padding-y, --spacing(1));
  padding-inline: var(--ms-pagination-element-padding-x, --spacing(1));
  font-size: var(--ms-pagination-element-font-size, var(--text-xs));
  font-weight: var(--ms-pagination-element-font-weight, var(--font-weight-medium));
  text-align: center;
}

.pagination-link {
  border-radius: var(--ms-pagination-element-radius, var(--ms-btn-radius));
  border: var(--ms-pagination-element-border-width, 1px) solid
    var(--ms-pagination-element-border-color, var(--ms-btn-border-color));
  background-color: var(--ms-pagination-element-bg-color, var(--ms-btn-bg-color));
  color: var(--ms-pagination-element-color, var(--ms-btn-color));

  @variant hover {
    border-color: var(--ms-pagination-element-hover-border-color, var(--ms-btn-hover-border-color));
    background-color: var(--ms-pagination-element-hover-bg-color, var(--ms-btn-hover-bg-color));
    color: var(--ms-pagination-element-hover-color, var(--ms-btn-hover-color));
  }

  @variant is_active {
    pointer-events: none;
    border-color: var(--ms-pagination-element-active-border-color, var(--color-primary));
    background-color: var(--ms-pagination-element-active-bg-color, var(--color-primary));
    color: var(--ms-pagination-element-active-color, var(--color-primary-text));
  }

  &._is-disabled {
    pointer-events: none;
    opacity: var(--ms-pagination-element-disabled-opacity, var(--ms-btn-disabled-opacity));
  }
}

.pagination-link--first,
.pagination-link--last {
  --ms-pagination-element-padding-x: var(--ms-pagination-element-fl-padding-x, --spacing(4));
  --ms-icon-size: var(--ms-pagination-nav-icon-size, --spacing(3.5));
}

.pagination-dots {
  color: --alpha(var(--color-base-text) / 0.5);
}

/* Pagination results */

.pagination-results {
  margin-top: var(--ms-pagination-results-margin-top, --spacing(4));
  color: var(--ms-pagination-results-color, var(--color-base-text));
  font-size: var(--ms-pagination-results-font-size, var(--text-xs));
  text-align: center;
}

/* Pagination variants */

.pagination-list.simple {
  > li:first-child,
  > li:last-child {
    --ms-pagination-element-padding-x: var(--ms-pagination-simple-element-padding-x, --spacing(3));
  }
}
