/* Pagination */
.pagination {
  @apply mt-5;
}

.pagination-item {
  @apply h-7 min-w-[theme('spacing[7]')]
  is_active:pointer-events-none
  is_active:bg-primary
  is_active:text-white;
}

.pagination-page,
.pagination-dots,
.pagination-first,
.pagination-last {
  @apply flex h-full w-full items-center justify-center rounded-md p-1 text-center text-xs font-medium;
}

.pagination-first,
.pagination-last {
  @apply text-gray-400 dark:text-slate-500;

  > svg {
    @apply h-3.5 w-3.5;
  }
}

.pagination-page {
  @apply is_active:pointer-events-none
  is_active:bg-primary
  is_active:text-white;
}

.pagination-first,
.pagination-last,
.pagination-page {
  @apply hover:bg-gray-100 hover:text-gray-800 focus:ring focus:ring-gray-200/70 dark:hover:bg-theme-400 dark:focus:ring-theme-200;
}

/* Pagination results */

.pagination-results {
  @apply mt-5 text-center text-xs text-gray-400 dark:text-slate-500;
}

.pagination-list {
  @apply flex flex-wrap justify-center gap-2;
}
