/* Popovers */
.tippy {
  .tippy-box {
    @apply bg-white text-gray-700 shadow-[0_4px_16px_rgba(161,172,184,0.45)] dark:bg-dark-600 dark:text-slate-200 dark:shadow-[0_4px_24px_rgba(0,0,0,0.15)];

    @variant dark {
      @apply bg-dark-800 text-slate-200 shadow-[0_4px_24px_rgba(0,0,0,0.15)]
    }

    .popover-body {
      @apply
      p-1.5 sm:p-2.5
      compact:p-1.5
      minimalistic:p-1
      ;

      .title {
        @apply text-sm font-semibold sm:text-md
        border-b theme__border
        mb-3
        compact:mb-2
        minimalistic:mb-1
        pb-3
        compact:pb-2
        minimalistic:pb-1
        ;

        @variant dark {
          @apply border-dark-200
        }
      }
    }

    .tippy-arrow {
      @apply text-white;

      @variant dark {
        @apply text-dark-800
      }
    }
  }
}
