/* Progress bars */
.progress {
  @apply flex h-4 rounded-lg bg-slate-100 dark:bg-dark-300;

  .progress-bar {
    @apply
    theme__text_color
    flex items-center justify-center
    overflow-hidden
    rounded-lg
    text-3xs font-medium
    leading-none
    bg-slate-500 dark:bg-gray-400
    ;

    /* Themes */

    &.progress-bar--primary {
      @apply bg-primary  dark:bg-primary
    }

    &.progress-bar--secondary {
      @apply bg-secondary  dark:bg-secondary
    }

    &.progress-bar--success {
      @apply bg-success dark:bg-success
    }

    &.progress-bar--warning {
      @apply bg-warning  dark:bg-warning
    }

    &.progress-bar--error {
      @apply bg-error dark:bg-error
    }

    &.progress-bar--info {
      @apply bg-info  dark:bg-info
    }

    &.progress-bar--purple {
      @apply bg-purple-500 dark:bg-purple-500
    }

    &.progress-bar--pink {
      @apply bg-pink-500 dark:bg-pink-500
    }

    &.progress-bar--blue {
      @apply bg-blue-500 dark:bg-blue-500
    }

    &.progress-bar--green {
      @apply bg-green-500 dark:bg-green-500
    }

    &.progress-bar--yellow {
      @apply bg-yellow-500 dark:bg-yellow-500
    }

    &.progress-bar--red {
      @apply bg-red-500 dark:bg-red-500
    }

    &.progress-bar--gray {
      @apply bg-gray-500 dark:bg-gray-500
    }
  }
}

/* Radial Progress bars */
.radial-progress {
  --value: 0;
  --size: 6rem;
  --thickness: 6px;
  box-shadow: inset 0 0 0 var(--thickness) var(--color-slate-100);

  @media (min-width: var(--breakpoint-lg)) {
    --size: 9rem;
    --thickness: 8px;
  }

  @variant dark {
    box-shadow: inset 0 0 0 var(--thickness) var(--color-dark-200);
  }

  @apply
  relative box-content
  flex items-center justify-center
  rounded-full bg-transparent
  text-center text-slate-500
  before:pointer-events-none after:pointer-events-none
  before:absolute after:absolute
  before:inset-0
  before:rounded-full after:rounded-full
  w-(--size)
  h-(--size)
  ;

  /* Progress circle */

  &::before {
    background: radial-gradient(farthest-side, currentColor 98%, rgba(0, 0, 0, 0)) top/var(--thickness) var(--thickness) no-repeat, conic-gradient(currentColor calc(var(--value) * 1%), rgba(0, 0, 0, 0) 0);
    mask: radial-gradient(farthest-side, rgba(0, 0, 0, 0) calc(99% - var(--thickness)), #000 calc(100% - var(--thickness)));
  }

  &::after {
    inset: calc(50% - var(--thickness) / 2);
    background-color: currentColor;
    transform: rotate(calc(var(--value) * 3.6deg - 90deg)) translate(calc(var(--size) / 2 - 50%));
  }

  /* Label */

  > span {
    @apply font-bold;
    font-size: clamp(0.875rem, calc(var(--size) / 4), calc(var(--size) / 2));
  }

  /* Sizes */

  &.radial-progress-sm {
    --size: 3rem;
    --thickness: 4px;
  }

  &.radial-progress-md {
    --size: 6rem;
    --thickness: 6px;
  }

  &.radial-progress-lg {
    --size: 7.5rem;
    --thickness: 6px;

    @media (min-width: var(--breakpoint-lg)) {
      --size: 9rem;
      --thickness: 8px;
    }
  }

  &.radial-progress-xl {
    --size: 9rem;
    --thickness: 6px;

    @media (min-width: var(--breakpoint-lg)) {
      --size: 12rem;
      --thickness: 10px;
    }
  }

  /* Themes */

  &.radial-progress--primary {
    @apply text-primary
  }

  &.radial-progress--secondary {
    @apply text-secondary
  }

  &.radial-progress--success {
    @apply text-success
  }

  &.radial-progress--warning {
    @apply text-warning
  }

  &.radial-progress--error {
    @apply text-error
  }

  &.radial-progress--info {
    @apply text-info
  }

  &.radial-progress--purple {
    @apply text-purple-500
  }

  &.radial-progress--pink {
    @apply text-pink-500
  }

  &.radial-progress--blue {
    @apply text-blue-500
  }

  &.radial-progress--green {
    @apply text-green-500
  }

  &.radial-progress--yellow {
    @apply text-yellow-500
  }

  &.radial-progress--red {
    @apply text-red-500
  }

  &.radial-progress--gray {
    @apply text-gray-500
  }
}
