/* Search form */
.search {
  @apply relative flex items-center;

  .search-form {
    @apply relative h-12 w-full xl:max-w-[16rem] compact:h-fit minimalistic:h-fit;

    .search-form-field {
      @apply h-full
      w-full
      border-transparent bg-theme-200
      pr-20 pl-3 transition-all
      placeholder:text-xs
      placeholder:font-normal
      placeholder:text-slate-600
      focus:bg-theme-300 dark:placeholder:text-slate-500;
    }

    .search-form-submit,
    .search-form-clear {
      @apply absolute inset-y-0 right-1 bottom-0 z-2 px-2 text-slate-600 hover:text-secondary dark:text-slate-500 dark:hover:text-white;

      & > svg {
        @apply h-6 w-6;
      }
    }

    .search-form-clear {
      @apply right-8;
    }
  }
}
