/* Search form basic */

.search {
  position: relative;
  display: flex;
  align-items: center;
}

.search-wrapper {
  @variant max-sm {
    flex-grow: 1;
  }
}

.search-form {
  position: relative;
  width: 100%;
  height: var(--ms-search-form-height, --spacing(10));

  @media (min-width: 1280px) {
    max-width: var(--ms-search-form-max-width, 16rem);
  }
}

/* Search form field */

.search-form-field {
  width: 100%;
  height: 100%;
  padding-left: var(--ms-search-field-padding-right, --spacing(10));
  padding-right: var(--ms-search-field-padding-left, --spacing(8));
  border-radius: var(--ms-search-field-radius, --spacing(12));
  border-color: var(--ms-search-field-bg-color, var(--ms-form-default-border-color));
  background-color: var(--ms-search-field-bg-color, var(--ms-form-default-bg-color));
  color: var(--ms-search-field-color, var(--ms-form-default-color));
}

/* Search form buttons */

.search-form-submit,
.search-form-clear {
  --ms-icon-size: var(--ms-search-button-icon-size, --spacing(4.5));

  position: absolute;
  inset-block: 0;
  z-index: 2;
  padding-inline: var(--ms-search-button-padding, --spacing(3));
  color: var(--ms-search-button-color, --alpha(var(--ms-form-default-color) / 0.5));

  @variant hover {
    color: var(--ms-search-button-hover-color, var(--ms-form-default-color));
  }
}

.search-form-submit {
  left: var(--ms-search-button-offset, 0);
}

.search-form-clear {
  right: var(--ms-search-button-offset, 0);
}

/* Search button keys */

.search-button-keys {
  position: absolute;
  top: 50%;
  right: var(--ms-search-button-keys-offset, --spacing(3));
  display: flex;
  gap: var(--ms-search-keys-gap, --spacing(1.25));
  transform: translateY(-50%);
}

.search-button-key {
  user-select: none;
  position: relative;
  top: -1px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--ms-search-key-size, --spacing(4.75));
  height: var(--ms-search-key-size, --spacing(4.75));
  border-radius: var(--ms-search-key-radius, --spacing(1));
  background-color: var(--ms-search-key-bg-color, var(--color-base-100));
  box-shadow: var(
    --ms-search-key-shadow,
    inset 0 -1px var(--color-base-300),
    inset 0 0 1px 1px var(--color-base-100),
    0 1px 1px 0.5px var(--color-base-400)
  );
  font-size: var(--ms-search-key-font-size, var(--text-xs));
  color: var(--ms-search-key-color, var(--ms-form-default-color));
}

.search-button-key.search-button-key--pressed {
  box-shadow: var(
    --ms-search-key-shadow-pressed,
    inset 0 -1px var(--color-base-400),
    inset 0 0 1px 1px var(--color-base),
    0 1px 1px var(--color-base-500)
  );
  transform: translate3d(0, 1px, 0);
}
