@import 'tom-select/dist/css/tom-select.css';

:root {
  --ts-pr-caret: 32px;
  --ts-pr-clear-button: 1em;
}

.ts-dropdown,
.ts-control,
.ts-control input {
  @apply base__default theme__border
  text-xs;
}

.ts-wrapper.single.input-active .ts-control,
.ts-wrapper.multi.input-active .ts-control {
  @apply bg-inherit text-inherit;
}

.ts-wrapper {
  &:after {
    content: '';
    -webkit-print-color-adjust: exact;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 1.5em 1.5em;

    @apply absolute top-[calc(50%_-_8px)]
    right-2
    z-[1]
    h-[8px] w-[16px]
    translate-y-1/2
    transition-transform;
  }

  &.dropdown-active:after {
    @apply rotate-180;
  }

  &.multi {
    @apply h-fit;

    .ts-control {
      @apply flex gap-1;

      .item {
        @apply my-0
        rounded-md
        bg-primary
        px-2
        text-white;

        &.with-image {
          @apply px-1 py-1;
        }
      }
    }
  }
}

.full .ts-control {
  @apply flex
  items-center base__default
  theme__border;
}

.ts-dropdown {
  .optgroup-header {
    @apply border-b
    theme__border bg-transparent
    px-4 py-2
    text-inherit
    opacity-70 dark:text-slate-100;
  }
}

.plugin-clear_button {
  .selected-empty-value .clear-button {
    @apply hidden
    hover:hidden;
  }

  .clear-button {
    @apply absolute
    top-[45%]
    mr-0
    cursor-pointer
    bg-transparent
    text-md text-gray-500
    opacity-0
    transition-opacity
    duration-300;
  }

  &.focus.has-items .clear-button,
  &:not(.disabled):hover.has-items .clear-button {
    @apply opacity-100;
  }
}

.multi.plugin-clear_button {
  .clear-button {
    right: 25px;
  }
}

.ts-control {
  @apply w-full
  rounded-md
  border theme__border
  focus:outline-none;
}

.ts-control input {
  @apply m-0 pr-5 text-xs;
}

.ts-dropdown {
  @apply -my-0.5
  border
  theme__border
  shadow-none
  rounded-b-md;
}

.ts-dropdown [data-selectable].option,
.ts-dropdown .no-results {
  @apply py-2
  dark:text-slate-200;
}

.ts-dropdown .option {
  @apply bg-theme;
}
.ts-dropdown .create:hover,
.ts-dropdown .option:hover,
.ts-dropdown .active,
.ts-dropdown .selected {
  @apply bg-theme-400
  text-theme-body;
}

.ts-dropdown .spinner {
  @apply h-auto w-auto;
}

.ts-dropdown .spinner:after {
  @apply my-0 inline-block h-5 w-5 border-2 theme__border p-0;
}

.item {
  @apply text-slate-600 dark:text-slate-400;

  &.with-image {
    @apply flex items-center gap-3;
  }
}
