@import "tom-select/dist/css/tom-select.css";

:root {
  --ts-pr-caret: 32px;
  --ts-pr-clear-button: 1em;
}

.ts-wrapper {
  &:after {
    content: "";
    -webkit-print-color-adjust: exact;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 1.5em 1.5em;

    @apply
    absolute z-[1]
    top-[calc(50%_-_8px)]
    right-2
    w-[16px] h-[8px]
    translate-y-1/2
    transition-transform
  }

  &.dropdown-active:after {
    @apply rotate-180
  }

  &.multi {
    .ts-control {
      @apply flex gap-1;

      .item {
        @apply
        theme__rounded
        bg-primary
        text-white
        px-2
        my-0
        ;

        &.with-image {
          @apply px-1 py-1
        }
      }
    }
  }
}

.full .ts-control {
  @apply base__default
  flex items-center
}

.ts-dropdown {
  .optgroup-header {
    @apply
    opacity-70
    px-4 py-2
    border-b theme__border_for_light_bg
  }
}

.plugin-clear_button {
  .selected-empty-value .clear-button {
    @apply hidden
    hover:hidden
  }

  .clear-button {
    opacity: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: calc(10px - 12px);
    margin-right: 0 !important;
    background: transparent !important;
    transition: opacity 0.3s;
    cursor: pointer;
  }

  &.focus.has-items .clear-button,
  &:not(.disabled):hover.has-items .clear-button {
    opacity: 1;
  }
}

.multi.plugin-clear_button {
  .clear-button {
    right: 25px;
  }
}

.ts-control {
  @apply
  w-full
  theme__rounded
  border theme__border_for_light_bg
  focus:outline-none
}

.ts-control input {
  @apply pr-5 text-sm m-0
}

.ts-dropdown {
  @apply
  rounded-b-md
  -my-0.5
  border
  theme__border_for_light_bg
  shadow-none
}

.ts-dropdown [data-selectable].option, .ts-dropdown .no-results {
  @apply py-2
}

.ts-dropdown .create:hover, .ts-dropdown .option:hover, .ts-dropdown .active {
  @apply bg-slate-100 dark:bg-dark-300
}

.ts-dropdown .spinner {
  @apply h-auto w-auto;
}

.ts-dropdown .spinner:after {
  @apply h-5 w-5 border-2 p-0 my-0 inline-block;
}

.item.with-image {
  @apply flex items-center gap-3
}

@variant dark {
  .ts-control,
  .ts-wrapper.single.input-active .ts-control,
  .ts-dropdown,
  .ts-dropdown .optgroup-header {
    @apply
    bg-slate-100 dark:bg-dark-800
    text-slate-600 dark:text-slate-400
  }

  .ts-dropdown & > * {
    @apply base__default
  }

  .ts-dropdown {
    .active {
      @apply
      bg-dark-300
      hover:bg-dark-200
      text-slate-400
      transition-colors
    }
  }
}
