/* Spinners (loaders) */
.spinner {
  animation: ms-loader-rotate 1s linear infinite;

  @apply
  relative
  h-8
  w-8
  rounded-full before:rounded-full
  before:absolute
  before:inset-0
  before:box-border
  before:border-3 before:border-slate-300 dark:before:border-slate-500
  ;

  &::before {
    animation: ms-loader-spinner 2s linear infinite;
  }

  /* Fixed position */

  .spinner-fixed {
    @apply fixed inset-0 m-auto;
  }

  /* Absolute position */

  .spinner-absolute {
    @apply absolute inset-0 m-auto;
  }

  /* Sizes */

  &.spinner-sm {
    @apply h-6 w-6 before:border-2;
  }

  &.spinner-md {
    @apply h-10 w-10;
  }

  &.spinner-lg {
    @apply h-12 w-12 before:border-4;
  }

  &.spinner-xl {
    @apply h-14 w-14 before:border-4;
  }

  /* Themes */

  &.spinner--primary {
    @apply before:border-primary
  }

  .spinner--secondary {
    @apply before:border-secondary
  }

  &.spinner--success {
    @apply before:border-success
  }

  &.spinner--warning {
    @apply before:border-warning
  }

  &.spinner--error {
    @apply before:border-error
  }

  &.spinner--info {
    @apply before:border-info
  }

  &.spinner--purple {
    @apply before:border-purple-500
  }

  &.spinner--pink {
    @apply before:border-pink-500
  }

  &.spinner--blue {
    @apply before:border-blue-500
  }

  &.spinner--green {
    @apply before:border-green-500
  }

  &.spinner--yellow {
    @apply before:border-yellow-500
  }

  &.spinner--red {
    @apply before:border-red-500
  }

  &.spinner--gray {
    @apply before:border-gray-500
  }
}

@keyframes ms-loader-rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes ms-loader-spinner {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  }
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}
