/* Spinner (loaders) basic */

.spinner {
  position: relative;
  width: var(--ms-spinner-size, --spacing(6));
  height: var(--ms-spinner-size, --spacing(6));
  border-radius: 50%;
  animation: ms-loader-rotate 1s linear infinite;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    box-sizing: border-box;
    border-radius: 50%;
    border-width: var(--ms-spinner-border-width, 2px);
    border-style: solid;
    border-color: var(--ms-spinner-border-color, var(--color-base-text));
    animation: ms-loader-spinner var(--ms-spinner-animation-duration, 2000ms) linear infinite;

    @variant dark {
      border-color: var(--ms-spinner-border-color, var(--color-base-text));
    }
  }
}

/* Spinner position modifiers */

.spinner-fixed {
  position: fixed;
  inset: 0;
  margin: auto;
}

.spinner-absolute {
  position: absolute;
  inset: 0;
  margin: auto;
}

/* Spinner sizes */

.spinner-sm {
  --ms-spinner-size: --spacing(4.5);
  --ms-spinner-border-width: 2px;
}

.spinner-md {
  --ms-spinner-size: --spacing(8);
  --ms-spinner-border-width: 3px;
}

.spinner-lg {
  --ms-spinner-size: --spacing(10);
  --ms-spinner-border-width: 3px;
}

.spinner-xl {
  --ms-spinner-size: --spacing(12);
  --ms-spinner-border-width: 3px;
}

/* Spinner themes */

.spinner--primary {
  --ms-spinner-border-color: var(--color-primary);
}

.spinner--secondary {
  --ms-spinner-border-color: var(--color-secondary);
}

.spinner--success {
  --ms-spinner-border-color: var(--color-success);
}

.spinner--warning {
  --ms-spinner-border-color: var(--color-warning);
}

.spinner--error {
  --ms-spinner-border-color: var(--color-error);
}

.spinner--info {
  --ms-spinner-border-color: var(--color-info);
}

.spinner--purple {
  --ms-spinner-border-color: var(--color-purple-500);
}

.spinner--pink {
  --ms-spinner-border-color: var(--color-pink-500);
}

.spinner--blue {
  --ms-spinner-border-color: var(--color-blue-500);
}

.spinner--green {
  --ms-spinner-border-color: var(--color-green-500);
}

.spinner--yellow {
  --ms-spinner-border-color: var(--color-yellow-500);
}

.spinner--red {
  --ms-spinner-border-color: var(--color-red-500);
}

.spinner--gray {
  --ms-spinner-border-color: var(--color-gray-500);
}

/* Spinner animation keyframes */

@keyframes ms-loader-rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes ms-loader-spinner {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  }
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}
