/* Tables */
table {
  text-indent: 0;
  width: 100%;
  border-color: inherit;
  border-collapse: collapse;
  text-align: left;

  .dropzone-items {
    overflow-y: auto;
    max-width: var(--container-xs);
    max-height: 8rem;
    gap: --spacing(1.5);
  }

  .dropzone-item-file {
    gap: --spacing(1);
    padding: --spacing(1);
    border: 0;
  }

  .dropzone-file-icon > svg {
    @apply size-5;
  }
}

.table-container {
  overflow: hidden;
  border-radius: var(--ms-table-radius, var(--radius-xl));
  border: 1px solid var(--ms-table-border-color, var(--theme-border-color));
}

.table-responsive {
  overflow-x: auto;
  position: relative;
  width: 100%;
}

.table {
  background-color: var(--ms-table-bg-color, var(--ms-layout-body-bg-color, var(--theme-bg-color)));

  thead {
    background-color: var(--ms-table-thead-bg-color, --alpha(var(--color-body) / 0.5));

    tr {
      border-bottom: 1px solid var(--ms-table-border-color, var(--theme-border-color));
    }

    th,
    td {
      padding-block: var(--ms-table-thead-space-y, --spacing(3));
      padding-inline: var(--ms-table-thead-space-x, --spacing(3));
      font-weight: var(--ms-table-thead-font-weight, var(--font-weight-semibold));
    }
  }

  tbody {
    tr {
      border-bottom: 1px solid var(--ms-table-border-color, var(--theme-border-color));

      &:last-child {
        border-bottom: 0;
      }
    }

    th,
    td {
      padding-block: var(--ms-table-tbody-space-y, --spacing(3));
      padding-inline: var(--ms-table-tbody-space-x, --spacing(3));
    }
  }
}

/* 
.table {
  font-size: var(--font-xs);

  thead {
    font-size: var(--font-3xs);
    text-transform: uppercase;

    td,
    th {
      max-width: var(--container-lg);
      border-bottom-style: solid;
      border-bottom-width: 1px;
      font-weight: var(--font-weight-semibold);

      @variant dark {
        border-color: var(--color-dark-300);
      }
    }
  }

  tbody {
    td,
    th {
      max-width: var(--container-lg);
      padding-block: --spacing(3);
      padding-inline: --spacing(2);
      border-bottom-style: solid;
      border-bottom-width: 1px;
      overflow-wrap: break-word;

      @variant dark {
        border-color: var(--color-dark-400);
      }
    }

    th {
      font-weight: var(--font-weight-semibold);
    }

    tr:last-child {
      td,
      th {
        border-bottom-width: 0;
      }
    }
  }

  tfoot {
    td,
    th {
      max-width: var(--container-lg);
      border-top-style: solid;
      border-top-width: 1px;

      @variant dark {
        border-color: var(--color-dark-400);
      }
    }

    td:not([class$='-bulk-actions']),
    th {
      padding-block: --spacing(3);
      padding-inline: --spacing(2);
      overflow-wrap: break-word;
    }

    td[class$='-bulk-actions'] {
      padding-block: --spacing(3);
    }
  }
}

.table-divider {
  div.grid {
    @apply my-0! py-2 border-b theme__border;

    &:last-child {
      @apply border-b-0 pb-0;
    }
  }
}

.table-list {
  @apply border-separate border-spacing-y-2.5;

  thead {
    td,
    th {
      @apply max-w-lg px-5
      py-3 text-2xs
      font-semibold
      whitespace-nowrap
      first:rounded-l-lg last:rounded-r-lg dark:border-dark-300 compact:p-4 minimalistic:p-0;
    }
  }

  tbody {
    tr {
      @apply bg-white dark:bg-dark-600;
    }

    td,
    th {
      @apply px-5 py-3 first:rounded-l-lg
      last:rounded-r-lg dark:border-dark-300
      compact:p-3
      minimalistic:p-0;
    }
  }

  tfoot {
    tr:not(:has(td[class$='-bulk-actions'])) {
      @apply bg-white dark:bg-dark-600;
    }

    td:not([class$='-bulk-actions']),
    th {
      @apply px-5 py-3 first:rounded-l-lg last:rounded-r-lg dark:border-dark-300;
    }
  }

  td,
  th {
    @apply relative max-w-md overflow-hidden bg-inherit whitespace-nowrap;

    &.fit-content {
      @apply min-w-fit;
    }

    &.min-content {
      @apply min-w-96 whitespace-normal;
    }
  }

  .text-ellipsis {
    @apply overflow-hidden whitespace-nowrap;
  }

  .text-clamp {
    @apply line-clamp-3 md:line-clamp-none;
  }

  &[data-click-action] {
    tbody {
      tr {
        td {
          @apply relative;
        }

        &:hover {
          @apply cursor-pointer shadow-sm;

          td::before {
            @apply pointer-events-none absolute inset-0 bg-zinc-800 opacity-5 dark:bg-zinc-400;
            content: '';
          }
        }
      }
    }
  }

  td.table-grid {
    @apply min-w-96 overflow-auto;
  }
}

.table-responsive {
  overflow: auto;
  width: 100%;
}

.table-zoom-in {
  tbody > tr {
    @apply transition-all will-change-transform hover:scale-[1.015] hover:shadow-md hover:shadow-gray-200;
  }
}

.table-sticky {
  max-height: 70dvh;

  & > table > thead {
    @apply sticky -top-1 z-1 bg-slate-50 dark:bg-dark-700;
  }
}

.table-list {
  thead,
  tbody {
    tr {
      th,
      td {
        &.sticky-col {
          @apply md:sticky md:backdrop-blur;

          &:has(.dropdown-body.visible) {
            @apply z-1;
          }
        }
      }
    }
  }
} */
