/* Tabs */

.tabs {
  .tabs-list {
    overflow-x: auto;
    display: flex;
    border-bottom: var(--ms-tabs-border-width, 1px) solid
      var(--ms-tabs-border-color, var(--color-base-stroke));
  }

  .tabs-title {
    display: flex;
    width: 100%;
    gap: var(--ms-tabs-gap, --spacing(2));
    margin-right: var(--ms-tabs-gap, --spacing(2));
    color: var(--color-primary);
  }

  .tabs-button {
    --ms-icon-size: var(--ms-tabs-button-icon-size, --spacing(5));

    display: inline-flex;
    align-items: center;
    column-gap: var(--ms-tabs-button-gap, --spacing(1.5));
    height: var(--ms-tabs-button-height, --spacing(12));
    padding-inline: var(--ms-tabs-button-padding-x, --spacing(2));
    border-bottom: var(--ms-tabs-button-border-width, 1px) solid
      var(--ms-tabs-button-border-color, transparent);
    color: var(--ms-tabs-button-color, --alpha(var(--color-base-text) / 0.5));
    font-size: var(--ms-tabs-button-font-size, var(--text-sm));
    font-weight: var(--ms-tabs-button-font-weight, var(--font-weight-medium));
    white-space: nowrap;
    cursor: pointer;

    @variant hover {
      &:not(._is-active) {
        border-color: var(--ms-tabs-button-hover-border-color, var(--color-base-stroke));
        color: var(--ms-tabs-button-hover-color, var(--color-base-text));
      }
    }

    @variant is_active {
      pointer-events: none;
      border-color: var(--ms-tabs-button-active-border-color, var(--color-primary));
      color: var(--ms-tabs-button-active-color, var(--color-primary));
    }
  }

  .tabs-content {
    margin-top: var(--ms-tabs-content-margin-top, --spacing(6));
    margin-inline: calc(var(--ms-tabs-gap, --spacing(2)) * -0.5);
    padding-inline: calc(var(--ms-tabs-gap, --spacing(2)) * 0.5);
    overflow-x: clip;
  }
}

/* Vertical tabs */

.tabs-vertical {
  display: flex;
  gap: calc(var(--ms-tabs-gap, --spacing(2)) * 1.5);

  > .tabs-list {
    display: flex;
    flex-direction: column;
    min-height: max-content;
    min-width: max-content;
    border-right: var(--ms-tabs-border-width, 1px) solid
      var(--ms-tabs-border-color, var(--color-base-stroke));
    border-bottom: 0;

    .tabs-button {
      width: 100%;
      padding-left: 0;
      padding-right: var(--ms-tabs-button-padding-right, --spacing(4));
      border-right: var(--ms-tabs-button-border-width, 1px) solid
        var(--ms-tabs-button-border-color, transparent);
      border-bottom: 0;

      @variant hover {
        &:not(._is-active) {
          border-color: var(--ms-tabs-button-hover-border-color, var(--color-base-stroke));
          color: var(--ms-tabs-button-hover-color, var(--color-base-text));
        }
      }

      @variant is_active {
        border-color: var(--ms-tabs-button-active-border-color, var(--color-primary));
        color: var(--ms-tabs-button-active-color, var(--color-primary));
      }
    }
  }

  > .tabs-content {
    margin-top: 0;
    flex-grow: 1;
  }
}
