/* Toasts (notices) */
.toast-container {
  @apply pointer-events-none fixed inset-0 z-toast flex h-screen w-screen flex-col-reverse items-end justify-end;
}

.toast-item {
  @apply pointer-events-auto
  mt-2 mr-2 flex
  w-auto min-w-56
  cursor-pointer items-center justify-center
  rounded bg-gray-600
  p-2 text-center
  text-sm theme__text_color
  max-sm:w-full
  sm:p-3 lg:mt-4
  lg:mr-4
  dark:bg-theme-50;
}

/* Themes */

.toast-primary {
  @apply bg-primary;
}

.toast-secondary {
  @apply bg-secondary;
}

.toast-info {
  @apply bg-info;
}

.toast-success {
  @apply bg-success;
}

.toast-warning {
  @apply bg-warning;
}

.toast-error {
  @apply bg-error;
}
