* text=auto eol=lf

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

/art export-ignore
/app export-ignore
/tests export-ignore
/.github export-ignore
/.idea export-ignore
/.env.example export-ignore
/.editorconfig export-ignore
/.php-cs-fixer.dist.php export-ignore
/phpstan.neon.dist export-ignore
/phpunit-example.xml.dist export-ignore
/monorepo-builder.php export-ignore
/rector.php export-ignore
/.gitattributes export-ignore
/.gitignore export-ignore
/.prettierrc export-ignore
/.package-lock.json export-ignore
/Makefile export-ignore
/README.md export-ignore
/repair-monorepo.sh
/node_modules
