{
    "printWidth": 100,
    "tabWidth": 2,
    "useTabs": false,
    "singleQuote": true,
    "bracketSpacing": false,
    "semi": false,
    "requirePragma": false,
    "proseWrap": "preserve",
    "arrowParens": "avoid",
    "plugins": [
        "prettier-plugin-tailwindcss"
    ],
    "tailwindConfig": "tailwind.config.js",
    "overrides": [
        {
            "files": "*.js",
            "options": {
                "parser": "flow"
            }
        }
    ]
}
