includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:
    editorUrl: 'anything'
    editorUrlTitle: "\nat packages/moonshine/%%relFile%%:%%line%%"
    paths:
        - src/
    level: 2
    reportUnmatchedIgnoredErrors: false

    ignoreErrors:
        - '#Cannot cast Closure to string#'
        - '#Cannot cast Closure\|null to string#'
        - '#mixin contains invalid type Illuminate\\Support\\Traits\\Conditionable#'
        - '#does not accept Illuminate\\View\\ComponentAttributeBag#'
        - '#should return MoonShine\\Contracts\\UI\\ComponentAttributesBagContract but returns Illuminate\\View\\ComponentAttributeBag#'
    excludePaths:
        - ./src/Support/src/Traits/Makeable.php
        - ./src/Laravel/routes/moonshine.php
        - ./src/Laravel/src/Providers/MoonShineServiceProvider.php
