includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - src/
    level: 1

    excludePaths:
        - ./src/Support/src/Traits/Makeable.php
        - ./src/Laravel/routes/moonshine.php
        - ./src/Laravel/src/Providers/MoonShineServiceProvider.php
