@mixin stateFillColors($color) {
  $normal: #{$color}-#{$base};
  $lightness: #{$color}-#{$lightness};
  $lighter: #{$color}-#{$lighter};
  $darkness: #{$color}-#{$darkness};
  $darken: #{$color}-#{$darken};
  $text: #{$color}-#{$text};

  @apply bg-#{$normal} hover:bg-#{$darkness} text-#{$text}
  focus:ring-#{$lightness} hover:shadow-#{$darkness}/30 hover:shadow-#{$darkness}/30
  active:bg-#{$darkness} focus:border-#{$normal};

  @apply disabled:bg-#{$normal} disabled:text-#{$text}
}

@mixin outline($color, $parent) {
  $normal: #{$color}-#{$base};
  $lightness: #{$color}-#{$lightness};
  $lighter: #{$color}-#{$lighter};
  $darkness: #{$color}-#{$darkness};
  $darken: #{$color}-#{$darken};
  $text: $normal;

  &#{$parent}-outlined {
    @apply bg-transparent text-#{$text} border-2 border-#{$normal}
    hover:text-#{$darken} hover:border-#{$darken} hover:shadow-none
    focus:ring-2 focus:ring-#{$lighter}
    active:text-#{$darkness} active:border-#{$darkness};

    @apply disabled:border-#{$normal} disabled:text-#{$normal};
    //@apply disabled:hover:border-#{$lighter} disabled:hover:text-#{$lighter};
    //@apply disabled:active:border-#{$lighter} disabled:active:text-#{$lighter};
  }
}

@mixin text($color, $parent, $add: 0, $text: 500) {
  $normal: #{$color}-#{$base};
  $lightness: #{$color}-#{$lightness};
  $lighter: #{$color}-#{$lighter};
  $darkness: #{$color}-#{$darkness};
  $darken: #{$color}-#{$darken};
  $text: $normal;

  &#{$parent}-text {
    @apply bg-transparent border-transparent text-#{$text} ring-0
    hover:text-#{$darken} hover:border-#{$darken} hover:shadow-none
    focus:ring-2 focus:ring-#{$normal} active:text-#{$darkness} active:border-transparent
    focus:border-transparent hover:border-transparent;
  }
}

@mixin inputBase($formType: 'form-input') {
  @apply #{$formType} h-max w-max
  border-2 border-2 border-transparent
  text-base tracking-wider focus:outline-0
  focus:ring-2 disabled:cursor-not-allowed disabled:ring-0;
  @apply disabled:opacity-60 disabled:saturate-50;

  //animation
  @apply transition-all ease-in duration-150;
}

@mixin baseSizes() {
  @apply rounded-2xl px-4 py-2.5 text-base;

  &-xs {
    @apply px-2 py-1 text-xs;
  }

  &-sm {
    @apply px-3 py-2 text-sm;
  }

  &-md {
    @apply px-6 py-4;
  }

  &-lg {
    @apply px-6 py-4 text-lg;
  }

  &-xl {
    @apply px-7 py-4 text-xl;
  }

  &-inset {
    @apply p-0 rounded-none #{!important};
  }
}
