/* Tailwind Base */
@import 'tailwindcss';
@import './base/fonts.css';
@import './base/safelist.css';
@import './base/breakpoints.css';
@import './base/utilites.css';
@import './base/colors.css';
@import './base/common.css';
@import './base/animation.css';

/* Libs */
@import 'tippy.js/dist/tippy.css';

/* Layouts */
@import './layouts/basic.css';
@import './layouts/layout-menu.css';
@import './layouts/layout-menu-horizontal.css';

/* Tailwind Components */
@import './components/accordions.css' layer(components);
@import './components/alerts.css' layer(components);
@import './components/badges.css' layer(components);
@import './components/box.css' layer(components);
@import './components/breadcrumbs.css' layer(components);
@import './components/buttons.css' layer(components);
@import './components/cards.css' layer(components);
@import './components/carousel.css' layer(components);
@import './components/dropdowns.css' layer(components);
@import './components/dropzone.css' layer(components);
@import './components/forms.css' layer(components);
@import './components/icon.css' layer(components);
@import './components/languages.css' layer(components);
@import './components/menu.css' layer(components);
@import './components/modals.css' layer(components);
@import './components/navigation.css' layer(components);
@import './components/notifications.css' layer(components);
@import './components/offcanvas.css' layer(components);
@import './components/pagination.css' layer(components);
@import './components/popovers.css' layer(components);
@import './components/profile.css' layer(components);
@import './components/progressbars.css' layer(components);
@import './components/search.css' layer(components);
@import './components/select.css' layer(components);
@import './components/social.css' layer(components);
@import './components/spinners.css' layer(components);
@import './components/tables.css' layer(components);
@import './components/tabs.css' layer(components);
@import './components/theme-switcher.css' layer(components);
@import './components/toasts.css' layer(components);
@import './components/report-card.css' layer(components);
@import './components/skeleton.css' layer(components);

/* Pages */
@import './pages/authentication.css';

@source '../../../../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../../../../storage/framework/views/*.php';
@source '../**/*.{js,blade.php}';
@source '../../**/*.php';

@custom-variant dark (&:where(.dark, .dark *));
@custom-variant compact (&:where(.theme-compact, .theme-compact *));
@custom-variant minimalistic (&:where(.theme-minimalistic, .theme-minimalistic *));
@custom-variant is_active (&:where(&._is-active));
@custom-variant hover {
  @media (hover: hover) {
    &:hover {
      @slot;
    }
  }
}

@theme {
  --radius: theme('borderRadius.lg');

  --font-sans: 'Gilroy', 'Roboto', sans-serif;
  --default-font-size: 15px;
  --default-line-height: 18px;

  --font-4xs: 0.75rem;
  --font-3xs: 0.875rem;
  --font-2xs: 0.9375rem;
  --font-xs: 1rem;
  --font-sm: 1.125rem;
  --font-md: 1.25rem;
  --font-lg: 1.625rem;
  --font-xl: 2rem;
  --font-2xl: 3rem;
  --font-3xl: 4rem;

  --z-dropdown: 150;
  --z-notifications: 300;
  --z-overlay: 1000;
  --z-offcanvas: 1050;
  --z-modal: 1100;
  --z-menu: 1200;
  --z-toast: 1300;
}

/* :root {
  --primary: 0.67 0.27 26.88;
  --secondary: 0.95 0.35 264.05;
  --spacing: 0.2rem;

  &:not(.dark) {
    --ms-layout-body-bg-color: var(--color-rose-50);
    --ms-layout-page-bg-color: var(--color-rose-100);
    --ms-box-bg-color: var(--color-rose-50);
    --color-theme: var(--color-rose-100);

    --ms-menu-item-active-glow-color: var(--color-blue-400);
  }

  &.dark {
    --ms-layout-body-bg-color: var(--color-zinc-800);
    --primary: 0.9 0.5 264.05;
  }
} */
