/* Tailwind Base */
@import "tailwindcss";
@import "./base/fonts.css";
@import "./base/safelist.css";
@import "./base/breakpoints.css";
@import "./base/utilites.css";
@import './base/colors.css';
@import './base/common.css';
@import './base/layout.css';

/* Libs */
@import 'tippy.js/dist/tippy';

/* Tailwind Components */
@import './components/accordions.css';
@import './components/alerts.css';
@import './components/badges.css';
@import './components/box.css';
@import './components/breadcrumbs.css';
@import './components/buttons.css';
@import './components/cards.css';
@import './components/carousel.css';
@import './components/dropdowns.css';
@import './components/dropzone.css';
@import './components/forms.css';
@import './components/languages.css';
@import './components/menu.css';
@import './components/modals.css';
@import './components/navigation.css';
@import './components/notifications.css';
@import './components/offcanvas.css';
@import './components/pagination.css';
@import './components/popovers.css';
@import './components/profile.css';
@import './components/progressbars.css';
@import './components/search.css';
@import './components/social.css';
@import './components/spinners.css';
@import './components/tables.css';
@import './components/tabs.css';
@import './components/theme-switcher.css';
@import './components/toasts.css';
@import './components/report-card.css';

/* Tailwind Utilities */
@import './base/animation.css';

/* Pages */
@import './pages/dashboard.css';
@import './pages/authentication.css';

@source '../../../../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../../../../storage/framework/views/*.php';
@source '../**/*.{js,blade.php}';
@source '../../**/*.php';

@custom-variant dark (&:where(.dark, .dark *));
@custom-variant compact (&:where(.theme-compact, .theme-compact *));
@custom-variant minimalistic (&:where(.theme-minimalistic, .theme-minimalistic *));
@custom-variant is_active (&:where(&._is-active));

@theme {
  --radius: theme('borderRadius.lg');

  --font-3xs: 0.875rem;
  --font-2xs: 0.9375rem;
  --font-xs: 1rem;
  --font-sm: 1.125rem;
  --font-md: 1.25rem;
  --font-lg: 1.625rem;
  --font-xl: 2rem;
  --font-2xl: 3rem;
  --font-3xl: 4rem;

  --rounded: var(--radius);
  --compact-rounded: calc(var(--radius) * 0.5);
  --minimal-rounded: 0;
}
