/* Tailwind Base */
@import "tailwindcss/base";
@import "base/common";
@import "base/layout";

/* Tailwind Components */
@import "tailwindcss/components";
@import "components/breadcrumbs";
@import "components/box";
@import "components/menu";
@import "components/navigation";
@import "components/dropdowns";
@import "components/buttons";
@import "components/social";
@import "components/forms";
@import "components/tables";
@import "components/pagination";
@import "components/badges";
@import "components/modals";
@import "components/offcanvas";
@import "components/tabs";
@import "components/accordions";
@import "components/alerts";
@import "components/colors";
@import "components/cards";
@import "components/progressbars";
@import "components/popovers";
@import "components/loaders";

/* Tailwind Utilities */
@import "tailwindcss/utilities";
@import "base/animation";

/* Pages */
@import "pages/dashboard";
@import "pages/authentication";

/* Libs */
@import "tippy.js/dist/tippy";
@import "choices.js/public/assets/styles/choices";
