/* Theme: Minimalistic */
body.theme-minimalistic {
  *,
  .box-shadow:before {
    @apply !rounded-none;
  }

  h1 {
    @apply text-sm;
  }
  .heading {
    @apply text-xs;
  }
  .layout-wrapper {
    @apply lg:p-0;

    @supports selector(:has(*)) {
      &:has(> .layout-menu) {
        @apply pl-0 pr-0 lg:py-0 lg:pl-[3.75rem] xl:pl-[16.75rem];
      }

      &-short:has(> .layout-menu) {
        @apply lg:pl-[3.75rem];
      }
    }

    @supports selector(:has(*)) {
      &:has(> .layout-menu-mobile) {
        @apply mobile:pt-14 !important;
      }
    }

    &--top-menu {
      @apply px-0;
    }
  }

  .layout-page {
    @apply rounded-none bg-dark-50 pt-2 dark:bg-dark-800 lg:border-l lg:border-dark-200;
  }

  .layout-navigation {
    @apply gap-x-2.5 pb-2;

    .breadcrumbs {
      &-list {
        @apply gap-x-0.5;
      }
      &-item {
        @apply gap-x-0.5;
        > a {
          @apply text-3xs;
          > svg {
            @apply h-4 w-4;
          }
        }
      }
    }

    .search-form {
      @apply h-[34px];

      &-field {
        @apply rounded-md;
      }
      &-icon {
        @apply right-2 h-4 w-4;
      }
    }
  }

  .layout-content {
    @apply py-4;
  }

  /* Sidebar menu */
  .layout-menu {
    @apply left-2.5 !w-[3.625rem] pt-0 xl:!w-[16.75rem];
    height: calc(100vh - 1rem);

    :where(.menu-inner-dropdown) {
      .menu-inner-dropdown {
        @apply !border-l-0 !border-r-0;
      }
    }

    &._is-minimized {
      @apply lg:!w-[3.625rem];

      .menu-inner-dropdown {
        .menu-inner-link {
          @apply lg:!px-1;
        }
      }
    }

    .menu {
      @apply overflow-y-scroll pl-4 pr-2 md:px-6 lg:pl-0 lg:pr-5;
    }

    .menu-heading {
      @apply px-4 md:px-6 lg:px-0 lg:py-2.5;

      &-logo {
        img {
          @apply h-8 lg:h-10;
        }
      }
      &-mode-btn {
        @apply text-dark-600 hover:text-black dark:text-slate-400 dark:hover:text-white;
        > svg {
          @apply h-5 w-5;
        }
      }
      &-burger > button {
        @apply text-dark-600 hover:text-black dark:text-slate-400 dark:hover:text-white;
      }
    }

    .menu-inner {
      @apply gap-y-1;

      &-item {
        @apply rounded-md before:hidden after:hidden;
        &._is-active {
          .menu-inner-link,
          .menu-inner-button {
            @apply bg-dark-200 text-black dark:text-white;
          }
        }
      }

      &-link,
      &-button {
        @apply gap-x-2 rounded-md bg-transparent px-2 py-1.5 text-2xs text-dark-600 hover:bg-dark-200 hover:text-black current:bg-dark-200 dark:text-slate-200 dark:hover:text-white dark:current:bg-primary;
        > svg {
          @apply h-5 w-5;
        }
      }

      &-link {
        @apply after:!hidden;
      }

      &-divider {
        @apply my-1 text-3xs text-dark-400 before:bg-dark-200 dark:text-slate-500;
      }

      &-counter {
        @apply rounded-[0.25rem];
      }

      &-dropdown {
        @apply mt-1 border border-dark-200 bg-dark-50 dark:bg-dark-700;

        .menu-inner-divider {
          @apply before:bg-dark-200;
        }

        .menu-inner-link,
        .menu-inner-button {
          @apply px-1 py-1 text-3xs;
        }
      }
    }

    .menu-profile {
      @apply py-2;

      &-main {
        @apply gap-x-2.5;
      }
      &-photo {
        @apply h-9 w-9;
      }
      &-info {
        > .name {
          @apply text-3xs leading-[1.25] text-black dark:text-slate-400 dark:hover:text-white;
        }
      }
      &-exit {
        @apply text-dark-600 hover:text-secondary dark:text-slate-400 dark:hover:text-white;
        > svg {
          @apply h-5 w-5;
        }
      }
    }
  }

  /* Horizontal menu */
  .layout-menu-horizontal {
    @apply h-16 border-b border-dark-200 bg-gray-50 px-4 dark:bg-dark-800 lg:border-l lg:px-6;

    .menu-logo {
      img {
        @apply h-8 lg:h-10;
      }
    }

    .menu-navigation {
      @apply px-4 lg:px-0;
    }

    .menu-inner {
      @apply gap-y-1;

      &-item {
        @apply rounded-md before:hidden after:hidden;
        &._is-active {
          .menu-inner-link,
          .menu-inner-button {
            @apply bg-dark-200 text-black dark:text-white;
          }
        }
      }

      &-link,
      &-button {
        @apply gap-x-2 rounded-md bg-transparent px-2 py-1.5 text-2xs text-dark-600 hover:bg-dark-200 hover:text-black current:bg-dark-200 dark:text-slate-200 dark:hover:text-white dark:current:bg-primary;
        > svg {
          @apply h-5 w-5;
        }
      }

      &-link {
        @apply after:!hidden;
      }

      &-divider {
        @apply m-0 text-3xs text-dark-200 before:bg-dark-300 dark:text-slate-500;
      }

      &-counter {
        @apply rounded-[0.25rem];
      }

      &-dropdown {
        @apply mt-1 border border-dark-200 bg-dark-50 shadow-none dark:bg-dark-700;

        .menu-inner-divider {
          @apply pl-0 before:bg-dark-300 dark:before:bg-dark-200;
        }

        .menu-inner-link,
        .menu-inner-button {
          @apply px-1.5 py-1 text-3xs;
        }
      }
    }

    .menu-profile {
      @apply py-2;

      &-main {
        @apply gap-x-2.5;
      }
      &-photo {
        @apply h-9 w-9;
      }
      &-info {
        > .name {
          @apply text-3xs leading-[1.25] text-black dark:text-slate-400 dark:hover:text-white;
        }
      }
      &-exit {
        @apply text-dark-600 hover:text-secondary dark:text-slate-400 dark:hover:text-white;
        > svg {
          @apply h-5 w-5;
        }
      }
    }

    .menu-mode {
      &-btn {
        @apply text-dark-600 hover:text-secondary dark:text-slate-400 dark:hover:text-white;
        > svg {
          @apply h-5 w-5;
        }
      }
    }

    .menu-settings {
      > a {
        @apply text-dark-600 hover:text-secondary dark:text-slate-400 dark:hover:text-white;
        > svg {
          @apply h-5 w-5;
        }
      }
    }

    .menu-burger {
      > button {
        @apply text-dark-600 hover:text-secondary dark:text-slate-400 dark:hover:text-white;
        > svg {
          @apply h-7 w-7;
        }
      }
    }
  }

  /* Mobile menu */
  .layout-menu-mobile {
    @apply border-b border-dark-200 bg-gray-50 px-4 dark:bg-dark-800;
    .menu-heading {
      @apply border-b border-dark-200;
    }

    .menu-logo {
      img {
        @apply h-8 lg:h-10;
      }
    }

    .menu-navigation {
      @apply px-4 lg:px-0;
    }

    .menu-inner {
      @apply gap-y-1 pt-4;

      &-item {
        @apply rounded-md before:hidden after:hidden;
        &._is-active {
          .menu-inner-link,
          .menu-inner-button {
            @apply bg-dark-200 text-black dark:text-white;
          }
        }
      }

      &-link,
      &-button {
        @apply gap-x-2 rounded-md bg-transparent px-2 py-1.5 text-2xs text-dark-600 hover:bg-dark-200 hover:text-black current:bg-dark-200 dark:text-slate-200 dark:hover:text-white dark:current:bg-primary;
        > svg {
          @apply h-5 w-5;
        }
      }

      &-link {
        @apply after:!hidden;
      }

      &-divider {
        @apply m-0 text-3xs text-dark-200 before:bg-dark-300 dark:text-slate-500;
      }

      &-counter {
        @apply rounded-[0.25rem];
      }

      &-dropdown {
        @apply mt-1 border border-dark-200 bg-dark-50 shadow-none dark:bg-dark-700;

        .menu-inner-divider {
          @apply pl-0 before:bg-dark-300 dark:before:bg-dark-200;
        }

        .menu-inner-link,
        .menu-inner-button {
          @apply px-1.5 py-1 text-3xs;
        }
      }
    }

    .menu-heading-mode {
      &-btn {
        @apply text-dark-600 hover:text-secondary dark:text-slate-400 dark:hover:text-white;
        > svg {
          @apply h-5 w-5;
        }
      }
    }

    .menu-heading-settings {
      > a {
        @apply text-dark-600 hover:text-secondary dark:text-slate-400 dark:hover:text-white;
        > svg {
          @apply h-5 w-5;
        }
      }
    }

    .menu-heading-burger {
      > button {
        @apply text-dark-600 hover:text-secondary dark:text-slate-400 dark:hover:text-white;
        > svg {
          @apply h-7 w-7;
        }
      }
    }
  }

  /* Notifications */
  .notifications {
    &-item {
      @apply p-2;
    }
    &-category {
      @apply h-8 w-8;
      > svg {
        @apply h-4 w-4;
      }
    }
    &-title,
    &-read {
      @apply text-3xs;
    }
    &-text,
    &-more,
    &-time {
      @apply text-[13px] leading-[1.25];
    }
    &-time {
      @apply mt-1;
    }
    &-icon {
      > span {
        @apply right-2.5 top-1.5;
      }
      > svg {
        @apply h-5 w-5;
      }
    }
  }

  /* Box cards */
  .box {
    &-title {
      @apply mb-3 pb-3;
    }
  }

  /* Buttons */
  .btn {
    @apply h-8 min-h-[34px] gap-x-1.5 px-2;

    &.btn-lg {
      @apply h-10 px-3.5;
    }
  }

  .btn-close {
    @apply h-7 min-h-[auto] w-7 p-0;
  }

  /* Dropdown */
  .dropdown {
    &-heading {
      @apply p-2;
    }
    &-footer {
      @apply p-2;
    }
    &-btn {
      @apply h-auto min-h-[34px] min-w-[34px] gap-x-1 p-1;
    }
    &-menu {
      &-link {
        @apply px-2 py-1.5 text-3xs;
      }
    }
  }

  /* Tables */
  .table {
    thead,
    tbody {
      th,
      td {
        @apply p-1 text-3xs;
      }
    }
  }

  .table-list {
    @apply border-spacing-y-1;
    thead,
    tbody {
      th,
      td {
        @apply px-2 py-1.5 text-3xs;
      }
    }
  }

  /* Alerts */
  .alert {
    @apply gap-x-2 rounded-md p-2;
    &-icon {
      > svg {
        @apply h-5 w-5;
      }
    }
    &-content {
      @apply text-3xs font-normal;
    }
  }

  /* Badges */
  .badge,
  a.badge {
    @apply rounded-[0.25rem] px-1.5 text-[0.825rem] leading-[1.25];
  }

  /* Poppovers */
  .tippy-box {
    @apply dark:bg-dark-900;

    .tippy-arrow {
      @apply dark:text-dark-900;
    }

    &[data-theme='ms-light'] {
      @apply dark:bg-dark-400;

      .tippy-arrow {
        @apply dark:text-dark-400;
      }
    }
  }

  /* Forms */
  .form-input,
  .form-textarea,
  .form-select,
  .form-multiselect,
  .form-file-upload {
    @apply min-h-[34px] px-2 py-1;
  }

  .form-file-upload {
    @apply text-3xs;
  }

  .form-flex-col {
    @apply gap-y-3;
  }

  .form-group {
    &:not(.form-group-expansion) {
      @apply gap-1;
    }
    + .form-group {
      @apply my-3;
    }
  }

  .form-hint {
    @apply text-[0.825rem] leading-[1.25];
  }

  .form-group-expansion {
    .expansion,
    .expansion-custom {
      @apply px-2 py-1;
    }
  }

  /* Checkboxes & Radio buttons */
  .form-radio ~ span,
  .form-radio ~ label,
  .form-checkbox ~ span,
  .form-checkbox ~ label {
    @apply text-3xs font-normal;
  }

  .form-switcher {
    &-toggler {
      @apply dark:border dark:border-dark-200;
      height: 1.25rem;
      width: 2.25rem;

      &::after {
        border-radius: 0 !important;
        height: 1rem;
        width: 1rem;
      }
    }
  }

  /* Range slider */
  .form-range-thumb {
    @apply -mt-1 h-4 w-4;
  }

  /* Choices */
  .choices__inner {
    @apply min-h-[34px] !py-1;
  }

  .choices[data-type*='select-one'] .choices__inner {
    @apply pb-1;
  }

  .choices[data-type*='select-one'] .choices__input {
    @apply px-2 py-1;
  }

  .choices__list--dropdown .choices__item,
  .choices__list[aria-expanded] .choices__item {
    @apply px-2 py-1 text-3xs;
  }

  .choices .choices__list--multiple .choices__item {
    @apply -mb-0.5 -mt-1 mr-1 rounded-[0.25rem] px-1.5 py-0;
  }

  .choices__list--single {
    @apply px-0;
  }

  .choices__list--multiple {
    .choices__item:last-child {
      @apply mr-1;
    }
  }

  /* Dashboard */
  .report-card {
    @apply p-3;

    &-value {
      @apply mt-3 text-md;
    }
    &-title {
      @apply mt-1 text-3xs;
    }
  }

  /* Dropzone */
  .dropzone {
    &-items {
      @apply gap-y-1.5;
    }
    &-file {
      &-icon > svg {
        @apply h-4 w-4;
      }
      &-name {
        @apply text-3xs;
      }
    }
    &-item-file {
      @apply gap-x-1.5 rounded-[0.25rem] px-1.5 py-1;

      .dropzone-remove {
        @apply h-4 w-4;
      }
    }
  }

  /* Modal */
  .modal {
    &-header {
      @apply px-3 py-2;
    }
    &-body {
      @apply p-3 text-2xs;
    }
    &-backdrop {
      @apply bg-black/70;
    }
    .modal-dialog-auto {
      .modal-title {
        @apply text-xs;
      }
    }
  }

  /* Offcanvas */
  .offcanvas {
    &-header {
      @apply px-3 py-2;
    }
    &-body {
      @apply p-3 text-2xs;
    }
    &-backdrop {
      @apply bg-black/70;
    }
  }

  /* Accordion */
  .accordion {
    &-btn {
      @apply h-auto py-2;
    }
    &-content {
      @apply p-2;
    }
  }

  /* Tabs */
  .tabs {
    &-button {
      @apply h-10;
    }
    &-content {
      @apply mt-2.5;
    }
  }

  /* Toast */
  .toast {
    &-item {
      @apply mt-2 p-2;
    }
  }

  /* Tree list */
  .tree-list {
    @apply space-y-0.5;
    li {
      @apply space-y-0.5;
      ul {
        @apply ml-4 space-y-0.5;
      }
    }
  }

  /* Category card */
  .card-category {
    @apply gap-y-3 p-3;

    .card-body {
      .title {
        @apply text-sm;
      }

      table {
        @apply text-3xs;
      }
    }

    .card-actions {
      @apply pt-3;
    }
  }
}
