@theme {
  --ms-layout-main-centered-max-width: 1080px;
  --ms-layout-wrapper-spacing: --spacing(2);
  --ms-layout-page-padding-y: --spacing(4);
  --ms-layout-page-padding-x: --spacing(4);
  --ms-layout-page-border-width: 1px;
  --ms-layout-page-bg-color: var(--color-base-50);
  --ms-layout-navigation-gap: --spacing(3);
  --ms-layout-content-padding-y: --spacing(6);
  --ms-layout-footer-padding-top: --spacing(6);
  --ms-layout-metrics-margin-bottom: --spacing(6);
}

.layout-wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: var(--ms-layout-wrapper-spacing);

  @variant max-lg {
    padding: 0;
  }

  @variant lg {
    flex-direction: row;
    row-gap: var(--ms-layout-wrapper-gap-y, var(--ms-layout-wrapper-spacing));
    column-gap: var(--ms-layout-wrapper-gap-x, var(--ms-layout-wrapper-spacing));
  }
}

.layout-main {
  flex: 1;
  min-width: 0;

  &:not(.layout-main-centered) {
    max-width: 100%;
  }

  &.layout-main-centered {
    max-width: var(--ms-layout-main-centered-max-width, 1080px);
    margin-inline: auto;
  }
}

.layout-page {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding-block: var(--ms-layout-page-padding-y, --spacing(4));
  padding-inline: var(--ms-layout-page-padding-x, --spacing(4));
  border-radius: var(--ms-layout-page-radius, var(--radius-xl));
  border-width: var(--ms-layout-page-border-width, 1px);
  border-style: solid;
  border-color: var(--ms-layout-page-border-color, var(--color-base-stroke));
  background-color: var(--ms-layout-page-bg-color, var(--color-base));

  @variant max-lg {
    padding-block: calc(var(--ms-layout-page-padding-y, --spacing(4)) * 0.75);
    padding-inline: calc(var(--ms-layout-page-padding-x, --spacing(4)) * 0.75);
    border-radius: 0;
    border: none;
  }

  &.layout-page-simple {
    --ms-layout-page-padding-y: var(--ms-layout-page-simple-padding-y, --spacing(2.5));
    --ms-layout-page-padding-x: var(--ms-layout-page-simple-padding-x, --spacing(2.5));

    border-radius: 0;
    border: none;
    background: initial;
  }
}

.layout-metrics {
  display: flex;
  flex-direction: column;
  gap: var(--ms-layout-metrics-gap-y, --spacing(6)) var(--ms-layout-metrics-gap-x, --spacing(6));
  margin-bottom: var(--ms-layout-metrics-margin-bottom, --spacing(6));

  @variant sm {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
  }
}

.layout-navigation {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: var(--ms-layout-navigation-gap, --spacing(3));

  @variant md {
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .search-wrapper {
    @variant max-md {
      order: 999;
      flex-grow: 1;
      width: 100%;
    }
  }
}

.layout-content {
  flex: auto;
  padding-block: var(--ms-layout-content-padding-y, --spacing(6));
}

.layout-footer {
  padding-top: var(--ms-layout-footer-padding-top, --spacing(6));
}

.layout-overlay {
  position: fixed;
  z-index: var(--z-overlay);
  inset: 0;
  width: 100vw;
  height: 100vh;
  background-color: --alpha(var(--ms-layout-overlay-bg-color, var(--color-black)) / 0.6);
  backdrop-filter: blur(var(--ms-layout-overlay-blur, 2px));

  @variant lg {
    display: none;
  }
}

.layout-collapse {
  --_btn-width: var(--ms-layout-collapse-btn-width, --spacing(5));
  --ms-btn-icon-size: calc(var(--_btn-width) / 1.375);
  --ms-btn-radius: var(--ms-layout-collapse-btn-radius, var(--radius-md));

  position: absolute;
  inset-block: 0;
  left: calc(
    100% + var(--ms-layout-wrapper-gap-x, var(--ms-layout-wrapper-spacing)) -
      calc(var(--_btn-width) / 2)
  );
  z-index: var(--z-aside);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition-property: opacity, visibility;
  transition-duration: var(--default-transition-duration);
  transition-timing-function: var(--default-transition-timing-function);

  @variant max-lg {
    display: none;
  }
}

.layout-collapse-btn {
  width: var(--_btn-width);
  height: fit-content;
  padding-block: var(--ms-layout-collapse-btn-padding-y, --spacing(2));
  padding-inline: 0;
}

.layout-main ~ .layout-menu {
  .layout-collapse {
    left: auto;
    right: calc(
      100% + var(--ms-layout-wrapper-gap-x, var(--ms-layout-wrapper-spacing)) -
        calc(var(--_btn-width) / 2)
    );
  }

  .layout-collapse-btn {
    .icon-wrapper {
      transform: scaleX(-1);
    }
  }
}
