@theme {
  --ms-layout-vertical-menu-width: 264px;
  --ms-layout-vertical-menu-minimized-width: 68px;
}

.layout-menu {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  row-gap: var(--ms-layout-menu-gap-y, --spacing(3));
  width: min(var(--ms-layout-vertical-menu-width, 264px), 100%);
  padding: var(--ms-layout-wrapper-spacing);

  &:hover {
    .layout-collapse {
      opacity: 1;
      visibility: visible;
    }
  }

  @variant max-lg {
    position: fixed;
    inset-block: 0;
    left: 0;
    z-index: var(--z-menu);
    height: 100%;
    background-color: var(--ms-layout-body-bg-color, var(--color-body));
    transition: transform 250ms var(--default-transition-timing-function);

    &:not(._is-opened) {
      transform: translateX(-100%);
    }
  }

  @variant lg {
    position: sticky;
    top: var(--ms-layout-wrapper-spacing, 0);
    z-index: var(--z-aside);
    height: calc(100svh - var(--ms-layout-wrapper-spacing) * 2);
    padding-inline: calc(var(--ms-layout-wrapper-spacing) * 0.5);
  }

  .menu {
    flex-grow: 1;
  }

  .menu-list {
    @apply scrollbar-hidden;

    overflow-y: auto;
    flex-grow: 1;
    min-height: 0;
  }

  /* Profile */

  .profile {
    --ms-profile-max-width: 100%;

    width: 100%;
  }

  .profile-info {
    display: block;
  }

  /* Minimized state */

  &._is-minimized {
    @variant lg {
      --ms-menu-item-padding-x: --spacing(1.5);
      --ms-menu-item-padding-y: --spacing(1.5);

      width: var(--ms-layout-vertical-menu-minimized-width, 68px);

      .menu-header {
        flex-direction: column;
        align-items: center;
      }

      .menu-actions {
        flex-direction: column;
        align-items: center;
        margin-left: 0;
      }

      .menu-button,
      .menu-link {
        flex-direction: column;
      }

      .menu-text {
        text-align: center;
        max-width: 100%;
        margin-right: 0;
        font-size: 0.875em;
      }

      .menu-text.menu-only-icon {
        display: none;
      }

      .menu-submenu {
        .menu-submenu .menu-icon ~ .menu-text {
          display: none;
        }
      }

      .menu-divider {
        span {
          display: none;
        }
      }

      .menu-badge {
        max-width: 100%;
      }

      .profile {
        flex-direction: column;
      }

      .profile-info {
        display: none;
      }
    }
  }
}
