/* Accordions */
.accordion {
    @apply mb-5 -space-y-[1px];

    &-item {
        &:first-child {
            .accordion-btn {
                @apply rounded-t-lg;
            }
        }
        &:last-child {
            .accordion-btn:not(._is-active),
            .accordion-content {
                @apply rounded-b-lg;
            }
        }
    }

    &-btn {
        @apply h-auto w-full grow justify-between whitespace-normal rounded-none p-3 text-left text-2xs current:bg-slate-100 dark:current:bg-dark-800 dark:current:hover:bg-dark-800 sm:px-4 sm:py-3 sm:text-xs;
        > svg {
            @apply h-4 w-4;
        }
        &._is-active {
            > svg {
                @apply scale-y-[-1];
            }
        }
    }

    &-content {
        @apply border border-t-0 border-gray-200 p-3 dark:border-dark-200 sm:p-4;
    }
}
