/* Alerts */
.alert {
	@apply mb-2.5 flex w-full items-center gap-4 rounded-lg border border-gray-200 bg-slate-100 px-4 py-3 dark:border-dark-200 dark:bg-dark-700;

	&-info {
		@apply border-purple bg-purple text-white dark:border-purple dark:bg-purple dark:text-white;
	}
	&-success {
		@apply border-green-600 bg-green-600 text-white dark:border-green-700 dark:bg-green-800 dark:text-green-300;
	}
	&-warning {
		@apply border-yellow-200 bg-yellow-200 text-yellow-800 dark:border-yellow-700 dark:bg-yellow-800 dark:text-yellow-300;
	}
	&-error {
		@apply border-pink bg-pink text-white dark:border-pink dark:bg-pink dark:text-white;
	}

	&-icon {
		> svg {
			@apply h-6 w-6;
		}
	}

	&-content {
		@apply grow text-2xs font-medium;

		> a {
			@apply font-medium text-inherit opacity-100 underline hover:text-inherit hover:opacity-70 hover:no-underline;
		}
	}

	&-remove {
		@apply text-inherit opacity-70 hover:text-inherit hover:opacity-100;
		> svg {
			@apply h-4 w-4;
		}
	}
}
