/* Badges */
.badge,
a.badge {
    @apply inline-block rounded-md px-2.5 py-0.5 text-3xs;

    /* Badges themes */
    &-purple {
        @apply bg-purple-100 text-purple-800 dark:bg-purple-900 dark:text-purple-300;
    }
    &-blue {
        @apply bg-blue-100 text-blue-800 dark:bg-blue-900 dark:text-blue-300;
    }
    &-green {
        @apply bg-green-100 text-green-800 dark:bg-green-900 dark:text-green-300;
    }
    &-yellow {
        @apply bg-yellow-100 text-yellow-800 dark:bg-yellow-900 dark:text-yellow-300;
    }
    &-red {
        @apply bg-red-100 text-red-800 dark:bg-red-900 dark:text-red-300;
    }
    &-gray {
        @apply bg-gray-100 text-gray-800 dark:bg-gray-700 dark:text-gray-300;
    }
}

/* Badge link */
button.badge,
a.badge {
    @apply hover:bg-purple-200 hover:text-purple-800 dark:hover:bg-purple-800 dark:hover:text-purple-300;
}
button.badge-blue,
a.badge-blue {
    @apply hover:bg-blue-200 hover:text-blue-800 dark:hover:bg-blue-800 dark:hover:text-blue-300;
}
button.badge-green,
a.badge-green {
    @apply hover:bg-green-200 hover:text-green-800 dark:hover:bg-green-800 dark:hover:text-green-300;
}
button.badge-yellow,
a.badge-yellow {
    @apply hover:bg-yellow-200 hover:text-yellow-800 dark:hover:bg-yellow-800 dark:hover:text-yellow-300;
}
button.badge-red,
a.badge-red {
    @apply hover:bg-red-200 hover:text-red-800 dark:hover:bg-red-800 dark:hover:text-red-300;
}
button.badge-gray,
a.badge-gray {
    @apply hover:bg-gray-200 hover:text-gray-800 dark:hover:bg-gray-600 dark:hover:text-gray-300;
}
