.breadcrumbs {
  &-list {
    @apply flex flex-wrap gap-y-1 gap-x-1.5;
  }

  &-item {
    @apply flex items-center gap-x-1.5 text-3xs md:text-2xs;

    &:not(:first-child) {
      &::before {
        @apply h-3.5 w-3.5 bg-gray-600 dark:bg-gray-400;
        content: '';
        mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%232e2e2e' stroke-width='1' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='9 18 15 12 9 6'%3E%3C/polyline%3E%3C/svg%3E");
        mask-size: cover;
      }
    }

    &:first-child > a {
      @apply text-secondary hover:text-purple dark:text-secondary dark:hover:text-white;
    }

    & > a {
      @apply dark:text-slate-500 dark:hover:text-secondary;

      & > svg {
        @apply h-5 w-5;
      }
    }

    & > span {
      @apply dark:text-slate-500;
    }
  }
}
