/* Cateogory card */
.card-category {
	@apply relative flex flex-col gap-y-6 rounded-lg bg-white p-3 shadow-md shadow-gray-200 dark:bg-dark-600 dark:shadow-black/5 sm:p-4 lg:p-5;

	.card-photo {
		@apply relative h-52 w-full overflow-hidden rounded-lg;
		img {
			@apply h-full w-full select-none object-cover;
		}
		.badge {
			@apply absolute top-4 left-4 z-2;
		}
		&-content {
			@apply absolute inset-0 z-2 flex flex-col justify-end gap-y-1 p-4 before:absolute before:inset-x-0 before:bottom-0 before:-z-1 before:h-1/2 before:bg-gradient-to-t before:from-black before:to-transparent;
			.title {
				@apply text-sm font-semibold text-white md:text-md;
			}
			.subcategory {
				@apply text-2xs text-slate-300;
			}
			a {
				@apply hover:text-white;
			}
		}
	}

	.card-body {
		.title {
			@apply text-sm font-bold md:text-md;

			~ table {
				@apply mt-2;
			}
		}
		table {
			@apply text-gray-600 dark:text-slate-400;
			th {
				@apply pr-2 font-semibold;
			}
		}
	}

	.card-actions {
		@apply flex flex-wrap justify-end gap-2 border-t border-gray-200 pt-5 dark:border-dark-300;
	}
}
