.carousel{
  @apply relative overflow-hidden aspect-[16/9] flex justify-center items-center;
  &.portrait{
    @apply aspect-[4/5];
  }

  carousel-slide{
    @apply inline-block opacity-0 transition-all w-full h-full absolute left-0;
    &.active{
      @apply opacity-100;
    }
    img{
      @apply absolute top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2 w-full;
    }
  }
  &-navigation{
    @apply absolute top-1/2 w-full z-10;
    a{
      @apply bg-white dark:bg-dark-600 bg-opacity-50 dark:bg-opacity-50 rounded-full transition-all absolute -translate-y-1/2;
      &:hover,
      &:focus{
        @apply bg-opacity-80 dark:bg-opacity-80
      }
    }
    &-next{
      @apply left-2;
    }
    &-prev{
      @apply right-2;
    }
  }
  &-slide-count{
    @apply absolute bottom-0 w-full text-center bg-white bg-opacity-50 dark:bg-opacity-50 dark:bg-dark-600 text-[.75rem] z-10;
  }
}
