.code-container {
  @apply relative;

  > textarea {
    @apply absolute left-0 top-0 !block h-full w-full opacity-0;
  }

  &.form-invalid .codeflask {
    @apply border-red-600 dark:border-red-700;
  }

  &.is-focused .codeflask {
    @apply transition-colors ring ring-gray-200 ring-opacity-70 dark:ring-dark-100 dark:ring-opacity-30;
  }

  &.form-invalid.is-focused .codeflask {
    @apply ring-red-400 ring-opacity-20 dark:ring-red-600 dark:ring-opacity-20;
  }
}

.codeflask {
  @apply rounded-md border border-gray-300 dark:border-dark-300 dark:bg-dark-800;

  &.codeflask--has-line-numbers:before {
    z-index: 4 !important;
    background: #eee;
  }

  .codeflask__flatten {
    overflow: visible;
  }

  .codeflask__code {
    overflow: visible;
  }

  .codeflask__lines {
    z-index: 5;
  }

  .codeflask__textarea {
    color: inherit;
    outline: none !important;
  }
  .codeflask__textarea::selection {
    color: rgba(255, 255, 255, 0) !important;
    background: #eee !important;
  }
}

.dark {
  .codeflask {
    &.codeflask--has-line-numbers:before {
      background-color: rgb(35, 45, 69);
    }

    .codeflask__lines {
      color: rgb(100, 116, 139);
    }

    .codeflask__textarea {
      caret-color: #fff;

      &::selection {
        background-color: #fff !important;
      }
    }
  }
}
