/* Background colors */
.bgc-purple {
	@apply !bg-purple-100/50 text-purple-800 dark:!bg-purple-900/50 dark:text-purple-300;
}
.bgc-pink {
	@apply !bg-pink-100/50 text-pink-800 dark:!bg-pink-900/50 dark:text-pink-300;
}
.bgc-blue {
	@apply !bg-blue-100/50 text-blue-800 dark:!bg-blue-900/50 dark:text-blue-300;
}
.bgc-green {
	@apply !bg-green-100/50 text-green-800 dark:!bg-green-900/50 dark:text-green-300;
}
.bgc-yellow {
	@apply !bg-yellow-100/50 text-yellow-800 dark:!bg-yellow-900/50 dark:text-yellow-300;
}
.bgc-red {
	@apply !bg-red-100/50 text-red-800 dark:!bg-red-800/50 dark:text-red-300;
}
.bgc-gray {
	@apply !bg-gray-100 text-gray-800 dark:!bg-gray-700/50 dark:text-gray-300;
}
