@import '../../../node_modules/easymde/dist/easymde.min.css';

.easyMde {
  @apply relative;

  &:has(.CodeMirror-focused) {
    &:before {
      @apply w-full h-full rounded-md ring ring-gray-200 ring-opacity-70 absolute top-0 left-0
      dark:ring-dark-100 dark:ring-opacity-30;
      content: '';
    }
  }

  & > textarea {
    @apply absolute !block w-full opacity-0;
  }

  .editor-toolbar {
    @apply rounded-t-md border border-b-0 border-gray-300 dark:border-dark-300 dark:bg-dark-800;

    button:hover {
      @apply border-gray-300 dark:border-dark-300 bg-transparent;
    }

    i.separator {
      @apply border-gray-300 dark:border-dark-300;
    }
  }

  .prose {
    @apply max-w-full bg-white p-4 dark:bg-dark-800;
  }

  .CodeMirror {
    @apply rounded-b-md border border-gray-300 dark:border-dark-300 dark:bg-dark-800;

    &-line {
      @apply dark:text-white;
    }

    &-cursor {
      @apply dark:border-white;
    }
  }
}
