.easyMde {
  @apply relative;

  &:has(.CodeMirror-focused) {
    &:before {
      @apply w-full h-full rounded-md ring ring-gray-200 ring-opacity-70 absolute top-0 left-0
      dark:ring-dark-100 dark:ring-opacity-30;
      content: '';
    }
  }

  & > textarea {
    @apply absolute !block w-full h-full opacity-0;
  }

  .editor-toolbar {
    @apply flex items-center gap-x-px rounded-t-md border border-b-0 border-gray-300
    dark:border-dark-300 dark:bg-dark-800;

    button.active {
      @apply text-white bg-primary border-transparent
      hover:bg-primary/80 hover:border-transparent
      dark:hover:border-transparent;
    }

    button:hover {
      @apply border-gray-300 bg-transparent
      dark:border-dark-300;
    }

    i.separator {
      @apply border-gray-300
      dark:border-dark-300;
    }
  }

  .prose {
    @apply max-w-full bg-white p-4
    dark:bg-dark-800;
  }

  .CodeMirror {
    @apply rounded-b-md border border-gray-300
    dark:border-dark-300 dark:bg-dark-800;

    &-line {
      @apply dark:text-white;
    }

    &-cursor {
      @apply dark:border-white;
    }
  }

  .editor-preview-side {
    @apply dark:border-dark-300;
  }
}
