/* Base customizes */
input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield;
}

.dark input {
  color-scheme: dark;
}

.form-flex-col {
  @apply flex flex-col gap-y-5;

  .form-group + .form-group {
    @apply mb-0 mt-0;
  }
}

.sm\:flex {
  .form-group + .form-group {
    @apply mb-0 mt-0;
  }
}

.form-group {
  @apply flex w-full flex-col gap-2;

  & + .form-group {
    @apply mb-5 mt-5;
  }

  .form-input,
  .form-textarea,
  .form-select,
  .form-multiselect,
  .form-file-upload {
    @apply mb-0 min-h-[42px];
  }

  &-inline {
    @apply flex-row flex-wrap items-center justify-items-center;

    & > label + div {
      @apply w-full lg:w-0 lg:grow;
    }

    & > label:first-child:not(.form-switcher) {
      @apply lg:w-1/5;
    }
  }
  &-buttons {
    @apply mt-3 flex-row flex-wrap justify-end;
  }
  &-range {
    @apply gap-4;
    input[type='range']::-webkit-slider-thumb {
      pointer-events: all;
      width: 24px;
      height: 24px;
      -webkit-appearance: none;
    }
    &-wrapper {
      @apply relative w-full;
    }
    &-fields {
      @apply mt-4 flex w-full items-center justify-between gap-3;
      > .form-input {
        max-width: 180px;
        &:last-child {
          @apply text-right;
        }
      }
    }
  }
  &-expansion {
    @apply flex-row items-stretch gap-0;
    .form-input {
      @apply rounded-r-none;
    }
    .expansion,
    .expansion-custom {
      @apply rounded-none border border-gray-300 bg-slate-100 px-3 py-2 text-2xs text-slate-600 shadow-sm first:rounded-l-md last:rounded-r-md dark:border-dark-300 dark:bg-dark-900/20 dark:text-slate-400 [&:not(:first-child)]:border-l-transparent [&:not(:last-child)]:border-r-transparent;
      ~ .form-input {
        @apply rounded-l-none rounded-r-md;
      }
    }
    .expansion-custom {
      @apply p-0;
    }
  }
}

/* Form Label */
.form-label {
  @apply cursor-pointer text-3xs font-medium;
  > .required {
    @apply text-red-500;
  }
}

/* Form Hint */
.form-hint {
  @apply text-3xs text-slate-500 dark:text-slate-400;
}

/* Form Error */
.form-error {
  @apply text-3xs text-red-600 dark:text-red-500;
}

/* Form Switcher */
.form-switcher {
  @apply relative flex cursor-pointer items-center;
  &-toggler {
    @apply h-6 w-11 rounded-full bg-gray-200 transition-colors after:absolute after:left-[2px] after:top-0.5 after:h-5 after:w-5 after:rounded-full after:border after:border-gray-300 after:bg-white after:transition-all peer-checked:bg-primary peer-checked:after:translate-x-full peer-checked:after:border-white peer-focus:border peer-focus:border-white peer-focus:ring peer-focus:ring-gray-200 peer-focus:ring-opacity-70 dark:border-dark-300 dark:bg-dark-800 dark:peer-focus:border-dark-300 dark:peer-focus:ring-dark-100 dark:peer-focus:ring-opacity-30;
  }
}
.form-switcher.form-invalid {
  .form-switcher-toggler {
    @apply border border-red-600 dark:border-red-700;
  }
  .peer:focus ~ .form-switcher-toggler {
    @apply ring-red-400 ring-opacity-20 dark:ring-red-600 dark:ring-opacity-40;
  }
}

/* Form Range */
.form-range {
  @apply h-2 w-full cursor-pointer appearance-none rounded-lg bg-gray-200 focus:outline-gray-200 dark:bg-dark-800;
  &-slider {
    @apply relative z-0 h-2 my-1.5;
  }
  &-tracker {
    @apply absolute bottom-0 left-0 right-0 top-0 z-3 rounded-md bg-gray-200 dark:bg-dark-200;
  }
  &-connect {
    @apply absolute bottom-0 top-0 z-4 rounded-md bg-primary;
  }
  &-input {
    @apply pointer-events-none absolute z-4 h-2 w-full cursor-pointer appearance-none p-0 opacity-0;
  }
  &-thumb {
    @apply absolute top-0 z-5 -mt-1.5 h-5 w-5 rounded-full bg-primary;
    &-left {
      @apply left-0;
    }
    &-right {
      @apply right-0;
    }
  }
}

/* File upload */
.form-file-upload {
  @apply cursor-pointer overflow-hidden bg-clip-padding file:-m-3 file:cursor-pointer file:overflow-hidden file:rounded-none file:border-0 file:border-solid file:border-inherit file:bg-slate-100 file:p-3 file:transition file:[border-inline-end-width:1px] file:[margin-inline-end:0.75rem] hover:file:bg-neutral-200 focus:outline-none dark:border-neutral-600 dark:text-neutral-200 dark:file:bg-primary dark:file:text-white dark:file:hover:bg-secondary;
}

.form-input,
.form-textarea,
.form-select,
.form-multiselect,
.form-file-upload {
  @apply mb-4 block w-full rounded-md border border-gray-300 text-2xs outline-none transition-colors duration-200 placeholder:text-2xs placeholder:text-gray-400 focus:border-gray-300 focus:ring focus:ring-gray-200 focus:ring-opacity-70 disabled:cursor-not-allowed disabled:bg-gray-100 disabled:text-2xs disabled:text-gray-400 dark:border-dark-300 dark:bg-dark-800 dark:placeholder:text-gray-500 dark:focus:ring-dark-100 dark:focus:ring-opacity-30 dark:disabled:bg-dark-700 dark:disabled:text-gray-500;

  /* Invalid field */
  &.form-invalid {
    @apply border-red-600 focus:ring-red-400 focus:ring-opacity-20 dark:border-red-700 dark:focus:border-red-700 dark:focus:ring-red-600 dark:focus:ring-opacity-40;
  }
}

.form-textarea {
  @apply min-h-[120px];
}

.form-checkbox {
  @apply shrink-0 cursor-pointer rounded border-gray-300 text-primary transition-colors duration-200 focus:border-purple-400 focus:ring focus:ring-primary focus:ring-opacity-20 focus:ring-offset-0 dark:border-dark-300 dark:bg-dark-800 dark:checked:bg-primary dark:focus:border-primary dark:focus:ring-dark-100 dark:focus:ring-opacity-30;
}

.form-radio {
  @apply shrink-0 cursor-pointer border-gray-300 text-primary transition-colors duration-200 focus:border-purple-400 focus:ring focus:ring-primary focus:ring-opacity-20 focus:ring-offset-0 dark:border-dark-300 dark:bg-dark-800 dark:checked:bg-primary dark:focus:border-primary dark:focus:ring-dark-100 dark:focus:ring-opacity-30;
}

.form-radio,
.form-checkbox {
  ~ span,
  ~ label {
    @apply cursor-pointer text-2xs;
  }

  /* Invalid field */
  &.form-invalid {
    @apply border-red-600 transition-colors focus:ring-red-400 focus:ring-opacity-20 dark:border-red-700 dark:focus:border-red-700 dark:focus:ring-red-600 dark:focus:ring-opacity-40;
  }
}

/* Dropzone */
.dropzone {
  @apply relative w-full rounded-lg border-2 border-dashed border-gray-200 p-3 dark:border-dark-300;

  &:hover {
    .dropzone-button {
      @apply opacity-75;
    }
  }

  &-message {
    @apply flex items-center justify-center p-5 text-center md:p-10;
  }

  &-button {
    @apply flex flex-col items-center justify-center gap-y-2;
    > svg {
      @apply h-8 w-8 stroke-primary dark:stroke-secondary;
    }
  }

  &-items {
    @apply flex flex-wrap gap-2 md:gap-3;
  }

  &-item {
    @apply relative h-12 w-12 md:h-16 md:w-16;
    &-file {
      @apply flex h-auto w-full items-center gap-2 rounded-md border border-gray-200 bg-slate-50 p-2 dark:border-dark-300 dark:bg-dark-700;
      .dropzone-remove {
        @apply static;
      }
      a {
        @apply inline;
      }
    }
    > img {
      @apply h-full w-full rounded-md object-cover;
    }
  }

  &-file-icon {
    @apply text-primary dark:text-secondary;
    > svg {
      @apply h-5 w-5;
    }
  }

  &-file-name {
    @apply grow truncate text-2xs;
  }

  &-remove {
    @apply absolute right-1 top-1 z-5 flex h-5 w-5 shrink-0 items-center justify-center rounded-full border border-red-600 bg-red-600 leading-none text-white will-change-transform hover:bg-white hover:text-red-600 dark:hover:border-red-700 dark:hover:bg-red-700 dark:hover:text-white;
    > svg {
      @apply h-3 w-3;
    }
  }
}

/* Choises (Single/Multiple Select) */
.choices {
  @apply !mb-0 w-full rounded-md text-2xs dark:after:!border-t-dark-50;

  &.is-open {
    @apply dark:after:!border-b-dark-50 dark:after:!border-t-transparent;
    .choices__inner {
      @apply rounded-b-none rounded-t-md;
    }
  }
  &.is-focused {
    @apply ring ring-gray-200 ring-opacity-70 transition-colors dark:ring-dark-100 dark:ring-opacity-30;
  }

  &:has(.form-invalid) {
    &.is-focused {
      @apply ring-red-400 ring-opacity-20 dark:ring-red-600 dark:ring-opacity-40;
    }

    .choices__inner {
      @apply border-red-600 dark:border-red-700;
    }
  }

  .choices__input {
    @apply m-0 w-[1px] bg-white p-0 text-3xs leading-6 focus:ring-0 dark:bg-dark-800 dark:placeholder:text-gray-500;
  }

  .choices__inner {
    @apply min-h-[42px] rounded-md border-gray-300 bg-white !py-2 text-2xs !leading-6 leading-tight transition-colors duration-200 dark:border-dark-300 dark:bg-dark-800;

    .choices__list--single {
      @apply py-0;
    }
    .choices__list--multiple .choices__item {
      @apply border-0 py-0 text-3xs;
    }
  }

  &.is-disabled {
    .choices__inner {
      @apply bg-gray-100 text-gray-400 disabled:cursor-not-allowed dark:bg-dark-700 dark:text-gray-500;
    }
    .choices__button {
      @apply hidden;
    }
  }

  .choices__placeholder {
    @apply text-gray-400 opacity-100 dark:text-gray-500;
  }

  .choices__list--dropdown,
  .choices__list[aria-expanded] {
    @apply z-10 rounded-b-md border-gray-300  bg-white shadow-lg shadow-slate-400/20 dark:border-dark-300 dark:bg-dark-800 dark:shadow-xl dark:shadow-primary/15;

    .choices__input {
      @apply dark:border-b-dark-200 dark:bg-dark-700;
    }

    .choices__item--selectable {
      &.is-highlighted {
        @apply bg-slate-100 dark:bg-dark-400;
      }
    }
  }

  .choices__list--single {
    .choices__button {
      @apply dark:invert;
    }
  }

  .choices__list--multiple {
    .choices__button {
      @apply !border-l-white/50;
    }
    .choices__item {
      @apply rounded-md border-primary bg-primary;
    }
    .choices__item.is-highlighted {
      @apply border-secondary bg-secondary;
    }
  }
}
.choices [hidden] {
  @apply absolute left-0 top-0 z-0 !m-0 !block h-full w-full !p-0 opacity-0;
}

.choices .choices__input--cloned {
  @apply relative z-1;
}

.choices__heading {
  @apply !border-gray-300 !text-gray-400 dark:!border-dark-300 dark:!text-gray-500;
}

/* TinyMCE */
.tinymce {
  @apply relative;

  &:has(.form-invalid) {
    .tox {
      @apply border-red-600 dark:border-red-700;
    }

    &:has(.is-focused) .tox {
      @apply ring-red-400 ring-opacity-20 dark:ring-red-600 dark:ring-opacity-40;
    }
  }

  &:has(.is-focused) .tox {
    @apply ring ring-gray-200 ring-opacity-70 transition-colors dark:ring-dark-100 dark:ring-opacity-30;
  }
}
.tinymce > textarea {
  @apply absolute !block h-full w-full opacity-0;
}
.tox-tinymce {
  @apply w-full;
}
