/* Tables */
table {
    @apply w-full border-collapse text-left;

    .dropzone-items {
        @apply max-h-[8rem] max-w-xs gap-1.5 overflow-y-auto;
    }
    .dropzone-item-file {
        @apply gap-1 border-0 p-1;
    }
    .dropzone-file-icon > svg {
        @apply h-5 w-5;
    }
}

.table {
    @apply text-xs;

    thead {
        @apply bg-slate-100 text-3xs uppercase dark:bg-dark-700;
        td,
        th {
            @apply max-w-lg border border-gray-200 p-3 font-semibold dark:border-dark-400;
        }
    }

    tbody {
        tr {
            @apply odd:bg-gray-50 even:bg-white dark:odd:bg-dark-700 dark:even:bg-dark-700/70;
        }
        td,
        th {
            @apply max-w-lg break-words border border-gray-200 p-3 dark:border-dark-400;
        }
        th {
            @apply font-semibold;
        }
    }

    tfoot {
        tr:first-child {
            td,
            th {
                @apply max-w-lg pt-3;
            }
        }
    }
}

.table-list {
    @apply border-separate border-spacing-y-2.5;

    thead {
        td,
        th {
            @apply max-w-lg whitespace-nowrap px-5 py-3 text-2xs font-semibold dark:border-dark-300;
        }
    }

    tbody {
        tr {
            @apply bg-white dark:bg-dark-600;
        }
        td,
        th {
            @apply max-w-lg whitespace-nowrap px-5 py-3 first:rounded-l-lg last:rounded-r-lg dark:border-dark-300 lg:whitespace-normal;
        }
    }
}

.table-responsive {
    @apply -m-1 overflow-auto p-1;
    width: calc(100% + 0.5rem);
}

.table-zoom-in {
    tbody > tr {
        @apply transition-all will-change-transform hover:scale-[1.015] hover:shadow-md hover:shadow-gray-200;
    }
}
