/* Tabs */
.tabs {
  &-list {
    @apply flex gap-2 overflow-x-auto border-b border-gray-200 dark:border-dark-200;
  }

  &-button {
    @apply flex h-10 items-center gap-1.5 whitespace-nowrap border-b border-b-transparent px-2 text-3xs font-medium text-gray-400 hover:border-gray-300 hover:text-gray-700 current:pointer-events-none current:border-primary current:text-primary dark:text-slate-400 dark:hover:border-gray-500 dark:hover:text-slate-300 dark:current:border-secondary dark:current:text-secondary sm:h-12 sm:text-2xs;
    > svg {
      @apply h-4 w-4 sm:h-5 sm:w-5;
    }
  }

  &-content {
    @apply mt-6;
  }
}
