/* Theme layout */
.layout {
  &-wrapper {
    @apply relative flex min-h-screen flex-col gap-y-5 p-3 transition-all md:p-5 lg:flex-row lg:p-6;

    /* SIDEBAR */
    /* selector :has not supported */

    &--sidebar {
      @apply pt-16 lg:pl-[5.75rem] lg:pt-6 xl:pl-72;
    }

    &--sidebar&-short {
      @apply lg:pl-[6rem];
    }

    /* selector :has supported */
    @supports selector(:has(*)) {
      &:has(> .layout-menu) {
        @apply pt-16 lg:pl-[5.75rem] lg:pt-6 xl:pl-72;
      }

      &-short:has(> .layout-menu) {
        @apply lg:pl-[6rem];
      }
    }

    /* TOPBAR */
    /* selector :has not supported */

    &--top-menu {
      @apply flex-col gap-y-0 px-3 pb-6 pt-0 transition-none md:px-5;
    }

    /* selector :has supported */
    @supports selector(:has(*)) {
      &:has(> .layout-menu-horizontal) {
        @apply flex-col gap-y-0 px-3 pb-6 pt-0 transition-none md:px-5;
      }
    }
  }

  &-menu {
    @apply fixed inset-y-0 left-5 z-3 box-content flex shrink-0 flex-col justify-between lg:z-0 lg:pt-6;
    height: calc(100vh - 4rem);
  }

  &-page {
    @apply relative flex w-full grow flex-col rounded-2xl bg-slate-50 p-4 dark:bg-dark-700 md:p-6;
  }

  &-navigation {
    @apply relative flex items-center gap-x-4 border-b border-gray-200 pb-4 dark:border-dark-200;
  }

  &-content {
    @apply flex-auto py-6 lg:py-8;
  }

  &-footer {
    @apply pt-6;
  }
}
